body
{
color: black;
font-family: Calibri, Arial, Trebuchet MS;
font-size: 9pt;
text-decoration: none;
margin:0px;
border-style:none;
padding:0px;
border: collapse;
}

div.epm_ribbon_row {
height:92px;
width:100%;
background-color:#f5f5f5;/*#d9e4f3;*/
    cursor:default;
}

table.epm_ribbon_row {
vertical-align:top;
text-align:left;
height:82px; 
background-color : #f5f5f5;/*#d9e4f3;*/
border-style:none;
cursor:default;
}

table.epm_ribbon_row td {
vertical-align:top;
text-align:left;
border-width:0px;
border-right: 1px solid #e8e8e8;
margin:0px;
padding:0px;
}

table.epm_ribbon_section
{
text-align:left;
}

table.epm_ribbon_section tr {
/*background-color : lime;*/
}

table.epm_ribbon_section tr.body {
height:67px;
}

table.epm_ribbon_section tr.foot {
height:15px;
}

table.epm_ribbon_section td {
border-width:0px;
text-align:left;
}

table.epm_ribbon_section td.foot {
text-align:center;
vertical-align:bottom; 
color:#7F7F7F;
}

table.epm_ribbon_column {
/*color:black;*//*#0072BC;*/
text-align:left;
color: #3f3f3f;
font-family: Trebuchet MS;
font-size: 8pt;
}

table.epm_ribbon_column td 
{
border: 1px solid #f5f5f5;/*#d9e4f3;*/
margin:0px;
padding:0px;
vertical-align:middle;
}

table.epm_ribbon_column tr.short {
	height: 18px;
}

table.epm_ribbon_column tr.medium {
	height: 30px;
}

table.epm_ribbon_column tr.tall {
	height: 40px;
}

table.epm_ribbon_column td.bigbutton {
	width: 43px;
	text-align:center;
}

table.epm_ribbon_column td.bigbutton_d {
	width: 43px;
	text-align:center;
    /*opacity:0.4;
    filter:alpha(opacity=40);*/
    /*filter: gray;*/
    color:GrayText;
}

table.epm_ribbon_column td.bigbutton:hover
{
    background-image: url(images/lb_hover.png);
    background-repeat: repeat-x;
    border: 1px solid #ffcc7e;
}

table.epm_ribbon_column td.smallbutton 
{
    width: 105px;
    text-align:left;
    vertical-align:top;
}

table.epm_ribbon_column td.smallbutton_d {
    width: 105px;
    text-align:left;
    vertical-align:top;
    /*opacity:0.4;
    filter:alpha(opacity=40);*/
    /*filter: gray;*/
    color:GrayText;
}

table.epm_ribbon_column td.smallbutton:hover
{
    background-image: url(images/sb_hover.png);
    background-repeat: repeat-x;
    border: 1px solid #ffcc7e;
    cursor:default;
}

table.epm_ribbon_column td.bigbutton_d {
    opacity:0.4;
    filter:alpha(opacity=40);
}

table.epm_ribbon_column img 
{
	vertical-align:middle;
}

div.epm_mini_ribbon_row {
height:72px;
width:100%;
background-color:#f5f5f5;/*#d9e4f3;*/
    cursor:default;
}

table.epm_mini_ribbon_row {
vertical-align:top;
text-align:left;
height:58px; 
background-color : #f5f5f5;/*#d9e4f3;*/
border-style:none;
cursor:default;
}

table.epm_mini_ribbon_row td {
vertical-align:top;
text-align:left;
border-width:0px;
border-right: 1px solid #e8e8e8;
margin:0px;
padding:0px;
}


table.epm_mini_ribbon_section
{
text-align:left;
}

table.epm_mini_ribbon_section tr {
/*background-color : lime;*/
}

table.epm_mini_ribbon_section tr.body {
height:48px;
}

table.epm_mini_ribbon_section tr.foot {
height:15px;
}

table.epm_mini_ribbon_section td {
border-width:0px;
text-align:left;
}

table.epm_mini_ribbon_section td.foot {
text-align:center;
vertical-align:bottom; 
color:#7F7F7F;
}

table.epm_mini_ribbon_column {
/*color:black;*//*#0072BC;*/
text-align:left;
color: #3f3f3f;
font-family: Trebuchet MS;
font-size: 8pt;
}

table.epm_mini_ribbon_column td 
{
border: 1px solid #f5f5f5;/*#d9e4f3;*/
margin:0px;
padding:0px;
vertical-align:middle;
}

table.epm_mini_ribbon_column tr.short {
	height: 18px;
}

table.epm_mini_ribbon_column tr.medium {
	height: 30px;
}

table.epm_mini_ribbon_column tr.tall {
	height: 40px;
}

table.epm_mini_ribbon_column td.bigbutton {
	width: 43px;
	text-align:center;
}

table.epm_mini_ribbon_column td.bigbutton_d {
	width: 43px;
	text-align:center;
    /*opacity:0.4;
    filter:alpha(opacity=40);*/
    /*filter: gray;*/
    color:GrayText;
}

table.epm_mini_ribbon_column td.bigbutton:hover
{
    background-image: url(images/lb_hover.png);
    background-repeat: repeat-x;
    border: 1px solid #ffcc7e;
}

table.epm_mini_ribbon_column td.smallbutton 
{
    width: 105px;
    text-align:left;
    vertical-align:top;
}

table.epm_mini_ribbon_column td.smallbutton_d {
    width: 105px;
    text-align:left;
    vertical-align:top;
    /*opacity:0.4;
    filter:alpha(opacity=40);*/
    /*filter: gray;*/
    color:GrayText;
}

table.epm_mini_ribbon_column td.smallbutton:hover
{
    background-image: url(images/sb_hover.png);
    background-repeat: repeat-x;
    border: 1px solid #ffcc7e;
    cursor:default;
}

table.epm_mini_ribbon_column td.bigbutton_d>div>img , table.epm_mini_ribbon_column td.smallbutton_d>img {
    opacity:0.4;
    filter:alpha(opacity=40);
}

table.epm_mini_ribbon_column img 
{
	vertical-align:middle;
}



select.select
{
height:18px; 
padding:none; 
margin:1px; 
color: #3f3f3f;
font-family: Trebuchet MS;
font-size: 8pt;
vertical-align:middle;
border: 1px solid gray;
}


input.cb
{
    height:13px;
}


