div.gridbox_dhx_skyblue .xhdr{
	/*background-image:url(../imgs/sky_blue_grid.gif);	
*/
}

div.gridbox_dhx_skyblue table.hdr tr{
	/*background-image:url(../imgs/sky_blue_grid.gif);
	background-position:0px -1px\9;
*/
}
body:nth-of-type(1) div.gridbox_dhx_skyblue table.hdr tr{
	/*background-image:url(../imgs/sky_blue_grid.gif);
	background-position:0px -1px;
*/
}
div.gridbox table td:hover {
	border-left: 0px;
	border-right: 1px solid #C6C6C6;
}
div.gridbox table.hdr td {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 20px;
}
div.gridbox table.hdr td:hover {
	border-left: 0px;
}

div.gridbox_dhx_skyblue table.obj tr td{
	font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
	font-size:13px;
	font-weight:300;
	color:#777;
	border-width:0px 1px 1px 0px;
	border-color : #C6C6C6 #C6C6C6 #C6C6C6 #C6C6C6;
	padding-right:4px;
	padding-left:4px;
}
div.gridbox_dhx_skyblue table.hdr td div.hdrcell{
	width:auto;
	padding-left:10px;
	width:100% !ie;
}
div.gridbox_dhx_skyblue table.hdr tr td {
    border-bottom: 1px solid #C6C6C6;
    border-right: 1px solid #C6C6C6 !important;
	background-color:transparent;
	font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
	font-size:13px;
	font-weight:300;
	color:#777;
	vertical-align:top;
	text-align:left;
}
div.gridbox_dhx_skyblue table.obj tr:hover {
	background-color:#E6F2FA !important;
}
div.gridbox_dhx_skyblue {
  border:1px solid  #A4BED4;
}
div.gridbox table.obj tr  td{
    padding-top:3px;
    padding-bottom:3px;
}
div.gridbox table.obj.row20px tr  td{
    /*padding-top:0px;
    padding-bottom:0px;*/
}

div.gridbox table.obj tr  td.editable{
    padding:0px;
}
div.gridbox table.obj tr  td.editable div.treegrid_cell{
	padding-left:4px;
	padding-top:1px;
}
div.gridbox_dhx_skyblue table.obj tr.rowselected{
	background-color:rgb(176, 216, 242);
}
div.gridbox_dhx_skyblue table.obj tr.rowselected td{
	background-color:rgb(176, 216, 242);
	/*background-repeat:repeat-x;
	background-position:0px 0px;	
	background-image:url(../imgs/sky_blue_sel2.png);
*/}
div.gridbox_dhx_skyblue table.obj.row20px tr.rowselected td{
	/*background-repeat:repeat-x;
	background-position:0px 0px;	
	background-image:url(../imgs/sky_blue_sel.png);	
*/}

div.gridbox_dhx_skyblue table.obj tr.rowselected td.cellselected {
	background-color:rgb(176, 216, 242);
}
div.gridbox_dhx_skyblue .odd_dhx_skyblue{
	/*background-color:#E3EFFF;*/
}
.dhx_combo_select, .gridbox_dhx_skyblue .dhx_combo_edit, .gridbox_dhx_skyblue .dhx_textarea{
    font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size:13px;
	font-weight:300;
	color:#777;
}
.gridbox_dhx_skyblue .dhx_combo_edit{
	padding:1px 0px 1px 1px;
}
.gridbox_dhx_skyblue .dhx_sub_row {
	background-color:transparent;
}