<AdHocSettings>
	<Property Name="LicenseKey" Value="T370 Versata-EPM Live  +DASH +MAPS +LANG +FORMS +VISION +FUSION|Enterprise|6.8|09/30/2017|0|0|0|M|AZ89MTM" />
	<Property Name="SqlServerConnectionString" Value="server=SQL01.CONS.COM;database=pepm_apps22_RPTPIHHealth;User ID=rptadmin;Password=HGk34^gasd" />
	<Property Name="GenerateThumbnails" Value="True" />
	<Property Name="DashboardViewer" Value="Dashboards.aspx" />
	<Property Name="PrintMode" Value="Html2PdfAndHtml" />
	<Property Name="ShowFiltersInReportViewer" Value="False" />
	<Property Name="ShowDesignLinkInReportViewer" Value="False" />
	<Property Name="ReportsPath" Value="C:\inetpub\izenda\Reports" />
	<Property Name="TemplatesPath" Value="C:\inetpub\izenda\Reports" />
	<Property Name="ShowLinkFormats" Value="False" />
	<Property Name="ToolbarBackgroundImageUrl" Value="" />
	<Property Name="ShowDesignLinks" Value="False" />
	<Property Name="ShowSaveInReportViewer" Value="False" />
	<Property Name="HiddenCategories" />
	<Property Name="DefaultVisibilityForNonAdmins" Value="Report Viewers" />
	<Property Name="DefaultSharingRights" Value="View Only" />
	<Property Name="ShowAddFieldInReportViewer" Value="False" />
	<Property Name="ShowRemoveFieldInReportViewer" Value="False" />
	<Property Name="GaugeStyles" />
	<Property Name="ChartLimit" Value="100" />
	<Property Name="ShowSummaryLine" Value="False" />
	<Property Name="NoDataSourcePage" Value="Settings.aspx" />
	<Property Name="ShowDataWhenParametersBlank" Value="False" />
	<Property Name="AllowHtmlOutputsInScheduledReports" Value="False" />
	<Property Name="PreviewColumnLimitMessage" Value="Reports with more than 100 fields must be exported to CSV.  Please check CSV Export to view data." />
	<Property Name="ReportsSharedByDefault" Value="False" />
	<Property Name="AllowSelfJoin" Value="False" />
</AdHocSettings>