<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appSettings>
    <add key="IzendaLicenseKey" value="T365 Versata-EPM Live +DASH +MAPS +LANG +FORMS +VISION +FUSION|Enterprise|6.8|09/30/2016|0|0|0|M|WU09H+I" />
	  <add key="EPMLiveDB" value="Server=epmDB.epmldev.com;Database=epmlive;Trusted_Connection=True" />
  </appSettings>

  <connectionStrings>
        <add connectionString="Initial Catalog=pepm_apps22_upland;Data Source=win-6j09gf4nbp8;Trusted_Connection=True" name="platform" />

  </connectionStrings>
  <system.web>

    <compilation debug="true">
    </compilation>

    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" />
    <customErrors mode="Off">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>

  </system.web>

</configuration>
