<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appSettings>
    <add key="IzendaLicenseKey" value="T370 Versata-EPM Live +DASH +MAPS +LANG +FORMS +VISION +FUSION|Enterprise|6.8|09/30/2019|0|0|0|M|DDSRBED" />
	  <add key="EPMLiveDB" value="Initial Catalog=pepm_dev_eelsayed_epmlive;Data Source=epmdb;Trusted_Connection=True" />
	  
  </appSettings>

  <connectionStrings>
 <add connectionString="Initial Catalog=pepm_dev_eelsayed_upland;Data Source=epmdb;Trusted_Connection=True" name="platform" />
  </connectionStrings>
  <system.web>

    <compilation debug="true">
    </compilation>

    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" />
    <customErrors mode="Off">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>

  </system.web>

</configuration>
