<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appSettings>
    <add key="IzendaLicenseKey" value="T365 Upland EPM +DASH +MAPS +LANG +FORMS +VISION +FUSION|Enterprise|6.8|09/29/2015|100|0|0|M|VIADJRZ" />
    
  </appSettings>

  <connectionStrings >
    <add name="adcon" connectionString="LDAP://EPM.com/DC=EPM,DC=com"  />
    <add name="platform" connectionString ="server=WEAPPS22DB1;database=Upland;Trusted_Connection=True"/>
  </connectionStrings>
  <system.web>

    <compilation debug="true">
    </compilation>

    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" />
    <customErrors mode="Off">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>

  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
