

select
{
font-family:Verdana;
font-size:12px;
color:#535353;
}

input
{
font-family:Verdana;
font-size:12px;
color:#535353;
}

.epmliveFormula
{
font-family:Verdana;
font-size:12px;
color:#535353;
}

.button-container 
{
overflow: hidden;
/*width:205px;*/
float:right;
margin-top:10px;
margin-bottom:10px;
}

.button-container-3
{
overflow: hidden;
width:305px;
float:right;
margin-top:17px;
}

.button-containerVert
{
overflow: hidden;
}

.button-new.save 
{
float: left;
}

.button-new.cancel 
{
float: right;
}

.button-new 
{
font-size: 12px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-ms-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
display: inline-block;
line-height: 24px;
margin-bottom: 4px;
font-weight: normal;
text-shadow: none;
padding: 1px 10px 1px 10px;
white-space: nowrap;
cursor: pointer;
font-family: arial, sans-serif;
text-decoration:none !important;
text-align:center;

}

.button-new.green 
{
/*background: #6ABD3D;*/
background: #6CC325 1px;
background: -webkit-linear-gradient(top, #9FD870 1px, #98DB62 1px, #6ABD3C 100%);
background: -o-linear-gradient(top, #9FD870 1px, #6CC325 1px, #6ABD3C 100%);
background: -ms-linear-gradient(top, #9FD870 1px, #6CC325 1px, #6ABD3C 100%);
background: -moz-linear-gradient(top, #9FD870 1px, #98DB62 1px, #6ABD3C 100%);
border: 1px solid #6ABD3D;
color: white;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9FD870', endColorstr='#6CC325',GradientType=0 );
}

.button-new.silver 
{
background: #EAEAEA;
background: whiteSmoke 1px;
background: -webkit-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
background: -o-linear-gradient(top, white 1px,#FFFFFF 1px, #F0F0F0 100%);
background: -ms-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
background: -moz-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F0F0F0',GradientType=0 );
border: 1px solid gainsboro;
color: #535353;
}

.button-new.green:hover
{
background: #71BF31;
border: 1px solid #60BA16;
filter: none;
}

.button-new.silver:hover
{
background: #F0F0F0;
border: 1px solid #D8D8D8;
filter: none;
}

.disabledGreen
{
opacity:.5;
filter:alpha(opacity=50); /* For IE8 and earlier */
cursor:default;
background: #6CC325 1px;
background: -webkit-linear-gradient(top, #9FD870 1px, #98DB62 1px, #6ABD3C 100%);
background: -o-linear-gradient(top, #9FD870 1px, #6CC325 1px, #6ABD3C 100%);
background: -ms-linear-gradient(top, #9FD870 1px, #6CC325 1px, #6ABD3C 100%);
background: -moz-linear-gradient(top, #9FD870 1px, #98DB62 1px, #6ABD3C 100%);
border: 1px solid #6ABD3D;
color: white;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9FD870', endColorstr='#6CC325',GradientType=0 );
}

.disabledGreen:hover
{
opacity:.5;
filter:alpha(opacity=50); /* For IE8 and earlier */
cursor:default;
background: #6CC325 1px;
background: -webkit-linear-gradient(top, #9FD870 1px, #98DB62 1px, #6ABD3C 100%);
background: -o-linear-gradient(top, #9FD870 1px, #6CC325 1px, #6ABD3C 100%);
background: -ms-linear-gradient(top, #9FD870 1px, #6CC325 1px, #6ABD3C 100%);
background: -moz-linear-gradient(top, #9FD870 1px, #98DB62 1px, #6ABD3C 100%);
border: 1px solid #6ABD3D;
color: white;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9FD870', endColorstr='#6CC325',GradientType=0 );
}

.disabledSilver
{
opacity:.5;
filter:alpha(opacity=50); /* For IE8 and earlier */
cursor:default;
background: #EAEAEA;
background: whiteSmoke 1px;
background: -webkit-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
background: -o-linear-gradient(top, white 1px,#FFFFFF 1px, #F0F0F0 100%);
background: -ms-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
background: -moz-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F0F0F0',GradientType=0 );
border: 1px solid gainsboro;
color: #535353;

}

.disabledSilver:hover
{
opacity:.5;
filter:alpha(opacity=50); /* For IE8 and earlier */
cursor:default;
background: #EAEAEA;
background: whiteSmoke 1px;
background: -webkit-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
background: -o-linear-gradient(top, white 1px,#FFFFFF 1px, #F0F0F0 100%);
background: -ms-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
background: -moz-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F0F0F0',GradientType=0 );
border: 1px solid gainsboro;
color: #535353;
}


.modalContent
{
margin-top: 20px;
padding-left:10px;
padding-right:10px;
color: #444444 !important;
font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
font-size:11px !important;
font-weight: normal !important;
padding-bottom:5px;
/*width:100%;
height: 100%;*/
border: none !important;
}


.modal-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
background-color: #CCC;
}

.modal-header h3 
{
font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
font-size: 13px !important;
color: #444 !important;
font-weight: normal !important;
}

.modal-backdrop, .modal-backdrop.fade.in 
{
opacity: 0.5;
}

.modal 
{
outline:none !important;
border-radius: 0px !important;
top:60% !important;
}

.modal-body
{
font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
font-size:11px !important;
color: #444 !important;
font-weight: normal !important;
}

.modal-footer
{
background-color:#ffffff !important;
border:none !important;
}

.epmliveButton
{
    min-width: 6em;
    padding: 2px 10px 4px;
    border: 1px solid #ABABAB;
    background-color: #FDFDFD;
    background-color: #FDFDFD;
    margin: 5px;
    font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
    font-size:11px !important;
    color: #444444;
    height:30px;
    width:75px !important;
}

.epmliveButton:hover
{
border-color: #92C0E0;
background-color: #E6F2FA;
    cursor:pointer;
}

.epmliveButton:active
{
border-color: #2A8DD4;
background-color: #92C0E0;
    cursor:pointer;
}
.epmliveSmallButton
{
    padding: 2px 10px 4px;
    border: 1px solid #ABABAB;
    background-color: #FDFDFD;
    background-color: #FDFDFD;
    margin: 5px;
    font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
    font-size:11px !important;
    color: #444444;
    height:30px !important;
    width:30px !important;
    min-width: 1em !important;
}

.epmliveSmallButton:hover
{
border-color: #92C0E0;
background-color: #E6F2FA;
    cursor:pointer;
}

.epmliveSmallButton:active
{
border-color: #2A8DD4;
background-color: #92C0E0;
    cursor:pointer;
}