body {
}

.topcell
{
    vertical-align: top;
    /*border-bottom: 1px solid silver;*/
    padding: 0px;
    /*border-bottom-color: #D8D8D8;*/
                
}

.descriptioncell
{
	font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
	font-size:13px;
	font-weight:300;
	color:#777;
    vertical-align: top;
    /*border-bottom: 1px solid silver;*/
    padding: 5px;
    /*border-bottom-color: #D8D8D8;*/
}
.controlcell
{
	font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
	font-size:13px;
	font-weight:300;
	color:#777;
    vertical-align: top;
    /*border-bottom: 1px solid silver;*/
    padding: 5px;
    /*border-bottom-color: #D8D8D8;*/
}
.button
{
    font-family: Verdana, sans-serif;
    font-size: 8pt;
    width:80px;
}
.colheader 
{
	text-align: left;
	font-weight: normal;
}
