table.dhtmlxLayoutPolyContainer_dhx_skyblue td.dhtmlxLayoutPolySplitterHorInactive {
    -moz-user-select: none !important; 
    background-color: #EBEBEB !important;
    cursor: default !important;
    font-size: 1px !important;
    height: 1px !important;
    line-height: 1px !important;
    vertical-align: top !important;
}
