.button-green:hover {
    background: #71BF31;
    border: 1px solid #60BA16;
    filter: none;
}

.button-green {
    background: #6CC325 1px;
    background: #6CC325 1px;
    background: -webkit-linear-gradient(top, #9FD870 1px, #98DB62 1px, #6ABD3C 100%);
    background: -o-linear-gradient(top, #9FD870 1px, #6CC325 1px, #6ABD3C 100%);
    background: -ms-linear-gradient(top, #9FD870 1px, #6CC325 1px, #6ABD3C 100%);
    border: 1px solid #6ABD3D;
    color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9FD870', endColorstr='#6CC325', GradientType=0);
    font-weight: bold;
}

.button {
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -ms-text-shadow: none;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-text-shadow: none;
    border-radius: 5px;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 4px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none !important;
    text-shadow: none;
    white-space: nowrap;
}

.button-green-disabled {
    -ms-opacity: .5;
    background: #6CC325 1px;
    background: -webkit-linear-gradient(top, #9FD870 1px, #98DB62 1px, #6ABD3C 100%);
    background: -o-linear-gradient(top, #9FD870 1px, #6CC325 1px, #6ABD3C 100%);
    background: #6CC325 1px;
    background: -webkit-linear-gradient(top, #9FD870 1px, #98DB62 1px, #6ABD3C 100%);
    border: 1px solid #6ABD3D;
    color: white;
    cursor: default;
    filter: alpha(opacity=50);
    opacity: .5;
}

.upgradeheader {
    font-family: Segoe UI Light, Segoe, Helvetica;
    font-size: 24px;
    padding-bottom: 20px;
}

.upgradetext {
    font-family: Segoe UI Light, Segoe, Helvetica;
    font-size: 16px;
}