################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EPK_QueueMgr/EPK_QueueMgr/bin/Debug
/EPK_QueueMgr/EPK_QueueMgr/obj/Debug
/EPMLiveCore/EPMLiveCore/obj/Debug
/EPMLiveDashboards/EPMLiveDashboards/obj/Debug
/EPMLiveIntegration/EPMLiveIntegration/obj/Debug
/.vs
/EPMLiveIntegrationService/EPMLiveIntegrationService/bin
/EPMLiveIntegrationService/EPMLiveIntegrationService/obj/Debug
/EPMLivePS/EPMLivePS/obj/Debug
/EPMLiveReporting/EPMLiveReporting/obj/Debug
/EPMLiveSynch/EPMLiveSynch/obj/Debug
/EPMLiveSynch/EPMLiveSynch/EPMLiveSynch.csproj.user
/EPMLiveTests/obj/Debug
/EPMLiveTimerService/EPMLiveTimerService/obj/Debug
/EPMLiveTimerService/TimerServiceTester/obj/Debug
/EPMLiveTimesheets/EPMLiveTimesheets/obj/Debug
/EPMLiveTimesheets/EPMLiveTimesheets/EPMLiveTimesheets.csproj.user
/EPMLiveWebParts/EPMLiveWebParts/obj/Debug
/EPMLiveWorkPlanner/EPMLiveWorkPlanner/obj/Debug
*.user
/PortfolioEngineCore/PortfolioEngineCore/obj/Debug
/PortfolioEngineCore/WorkEnginePPM/obj/Debug
/UplandIntegrations/UplandIntegrations/obj/Debug
/EPK_QueueMgr/EPK_QueueMgr/obj/Release
/EPMLiveCore/EPMLive.Data/obj/Debug
/EPMLiveCore/EPMLive.Tests/obj/Debug
/EPMLiveCore/.vs/EPMLiveCore/v14
/EPMLiveCore/EPMLiveCore/bin/Debug
/EPMLiveCore/EPMLiveCore/bin/Release
/EPMLiveCore/EPMLiveCore/obj/Release
/EPMLiveDashboards/EPMLiveDashboards/bin
/EPMLiveDashboards/EPMLiveDashboards/obj/Release
/EPMLiveSignals/EPMLiveSignals/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/EPMLiveSignals/EPMLiveSignals/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/EPMLiveSignals/EPMLiveSignals/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/EPMLiveSignals/EPMLiveSignals/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/EPMLiveIntegration/EPMLiveIntegration/obj/Release
/EPMLiveIntegrationService/EPMLiveIntegrationService/obj/Release
/EPMLivePS/EPMLivePS/bin
/EPMLivePS/EPMLivePS/obj/Release
/EPMLiveReporting/.vs/EPMLiveReporting/v14
/InstallShield/WorkEngine5/Product Configuration 1/PrimaryRelease/Reports
/InstallShield/WorkEngine5/Product Configuration 1/PrimaryRelease/LogFiles
/InstallShield/Build Dependencies/UserNameChecker/UserNameChecker/obj/Debug
