<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EPMLiveEnterprise.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <EPMLiveEnterprise.Settings>
      <setting name="EPMLivePS_WebSvcCustomFields_customfields" serializeAs="String">
        <value>http://ps-2013/PWA/_vti_bin/psi/customfields.asmx?wsdl</value>
      </setting>
      <setting name="EPMLivePS_WebSvcEvents_events" serializeAs="String">
        <value>http://ps-2013/PWA/_vti_bin/psi/events.asmx?wsdl</value>
      </setting>
      <setting name="EPMLivePS_WebSvcLoginWindows_loginwindows" serializeAs="String">
        <value>http://ps-2013/PWA/_vti_bin/psi/loginwindows.asmx?wsdl</value>
      </setting>
      <setting name="EPMLivePS_WebSvcLookupTables_lookuptable" serializeAs="String">
        <value>http://ps-2013/PWA/_vti_bin/psi/lookuptable.asmx?wsdl</value>
      </setting>
      <setting name="EPMLivePS_WebSvcProject_project" serializeAs="String">
        <value>http://ps-2013/PWA/_vti_bin/psi/project.asmx?wsdl</value>
      </setting>
      <setting name="EPMLivePS_WebSvcQueueSystem_queuesystem" serializeAs="String">
        <value>http://ps-2013/PWA/_vti_bin/psi/queuesystem.asmx?wsdl</value>
      </setting>
      <setting name="EPMLivePS_WebSvcResource_resource" serializeAs="String">
        <value>http://ps-2013/PWA/_vti_bin/psi/resource.asmx?wsdl</value>
      </setting>
      <setting name="EPMLivePS_WebSvcStatusing_statusing" serializeAs="String">
        <value>http://ps-2013/PWA/_vti_bin/psi/statusing.asmx?wsdl</value>
      </setting>
      <setting name="EPMLivePS_WebSvcWssInterop_wssinterop" serializeAs="String">
        <value>http://ps-2013/PWA/_vti_bin/psi/wssinterop.asmx?wsdl</value>
      </setting>
    </EPMLiveEnterprise.Settings>
  </applicationSettings>
</configuration>