<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIntegrations" />
                <binding name="BasicHttpBinding_IProjects" />
                <binding name="BasicHttpBinding_ILogonAs" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srv-dev-epm.federation.com/TWebService/sdk/Integrations.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegrations"
                contract="TenroxIntegrationService.IIntegrations" name="BasicHttpBinding_IIntegrations" />
            <endpoint address="http://srv-dev-epm.federation.com/TWebService/sdk/Projects.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProjects"
                contract="TenroxProjectService.IProjects" name="BasicHttpBinding_IProjects" />
            <endpoint address="http://srv-dev-epm.federation.com/TWebService/LogonAs.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogonAs"
                contract="TenroxAuthService.ILogonAs" name="BasicHttpBinding_ILogonAs" />
        </client>
    </system.serviceModel>
</configuration>