<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UplandIntegrations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UplandIntegrations.Properties.Settings>
            <setting name="UplandIntegrations_IntegrationAPI_Integration"
                serializeAs="String">
                <value>https://apps21api.epmlive.com/integration.asmx</value>
            </setting>
        </UplandIntegrations.Properties.Settings>
    </applicationSettings>
</configuration>