<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIntegrations" />
                <binding name="BasicHttpBinding_IProjects" />
                <binding name="BasicHttpBinding_ILogonAs" />
                <binding name="BasicHttpBinding_ITasks" />
                <binding name="BasicHttpBinding_IClients" />
                <binding name="BasicHttpBinding_IUsers" />
                <binding name="BasicHttpBinding_IAssignments" />
                <binding name="BasicHttpBinding_IExecuteStoredProcedure" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srv-dev-epm.federation.com/TWebService/sdk/Integrations.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegrations" contract="TenroxIntegrationService.IIntegrations" name="BasicHttpBinding_IIntegrations" />
            <endpoint address="http://srv-dev-epm.federation.com/TWebService/sdk/Projects.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProjects" contract="TenroxProjectService.IProjects" name="BasicHttpBinding_IProjects" />
            <endpoint address="http://srv-dev-epm.federation.com/TWebService/LogonAs.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogonAs" contract="TenroxAuthService.ILogonAs" name="BasicHttpBinding_ILogonAs" />
            <endpoint address="http://srv-dev-epm.federation.com/TWebService/sdk/Tasks.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITasks" contract="TenroxTaskService.ITasks" name="BasicHttpBinding_ITasks" />
            <endpoint address="http://srv-dev-epm.federation.com/TWebService/sdk/Clients.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClients" contract="TenroxClientService.IClients" name="BasicHttpBinding_IClients" />
            <endpoint address="http://srv-dev-epm.federation.com/TWebService/sdk/Users.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsers" contract="TenroxUserService.IUsers" name="BasicHttpBinding_IUsers" />
            <endpoint address="http://srv-dev-outside.federation.com/TWebService/sdk/Assignments.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAssignments" contract="TenroxAssignmentService.IAssignments" name="BasicHttpBinding_IAssignments" />
            <endpoint address="http://srv-dev-outside.federation.com/TWebService/sdk/ExecuteStoredProcedure.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExecuteStoredProcedure" contract="TenroxDataService.IExecuteStoredProcedure" name="BasicHttpBinding_IExecuteStoredProcedure" />
        </client>
    </system.serviceModel>
  <applicationSettings>
    <UplandIntegrations.Properties.Settings>
      <setting name="UplandIntegrations_IntegrationAPI_Integration" serializeAs="String">
        <value>https://apps21api.epmlive.com/integration.asmx</value>
      </setting>
    </UplandIntegrations.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Services.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Services.WebApi" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>