body 
{
    font-family: Verdana, Arial, Helvetica;
    font-size:11px;
    padding: 0;
    border: 0;
    margin: 0;
}
.actionRadio
{
    width:20px;
    vertical-align:top;
}
table.picklist 
{
    width:100%;
    border: 1px solid #B0B8C0;
    border-collapse: collapse; 
}
table.picklist td 
{
    padding: 0px;
    width: 114px;
}
.datacol
{
    width: 210px;
}
.buttoncol
{
    width: 10px;
    vertical-align: top;
}
.controlcell
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    vertical-align: top;
    border-bottom: 1px solid silver;
    padding: 5px;
    border-bottom-color: #CCCCCC;
                background-color: #F5F5F5;
                width:500px;
}
.buttoncell
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    vertical-align: top;
    border-top: 1px solid silver;
    padding: 5px;
    border-top-color: #CCCCCC;
    text-align:right;
}