@top-nav-width: 50px;
@sub-nav-width: 170px;
@top-nav-li-height: @top-nav-width - 10;
@node-width: (@sub-nav-width - 40px) + 4px;
@link-width: (@sub-nav-width - 40px) - 1px;
@node-height: 20px;
@shadow-color: rgba(0, 0, 0, 0.2) inset;
@base-blue: #0090CA;
@hover-color: #E7E7E7;
@link-font:13px;

.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000000) {
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    box-shadow: @arguments;
}

.transition (@x: All, @sec: 0.2s, @func: ease) {
    -webkit-transition: @arguments;
    -o-transition: @arguments;
    -moz-transition: @arguments;
    transition: @arguments;
}

.transform (@rotate: 0deg, @scale: 1, @skew: 0deg, @trans: 0px) {
    -webkit-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@trans);
    -moz-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@trans);
    -o-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@trans);
    -ms-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@trans);
    transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@trans);
}

.text-shadow(@x: 0, @w: 1px, @y: 0, @color: #FFFFFF) {
    -webkit-text-shadow: @arguments;
    text-shadow: @arguments;
}

.ellipsis {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cursor-hand {
    cursor: pointer;
    cursor: hand;
}

.ms-dialog {
    #epm-nav {
        display: none;
    }

    .epm-nav-pinned {
        margin-left: auto;
    }
}

#epm-nav {
    .slimScrollDiv {
        .slimScrollBar {
            border-radius: 0px !important;
        }
    }
}

#epm-nav-top {
    .box-shadow(@x: -1px, @color: @shadow-color);
    background-color: #E2E2E2;
    height: 100%;
    position: absolute;
    top: @top-nav-width;
    width: @top-nav-width;

    ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;

        li {
            text-align: center;
            height: @top-nav-li-height;

            span {
                color: #7C7C7C;
                font-size: 2.2em;
                margin-top: @top-nav-width - @top-nav-li-height - 5;
                .cursor-hand;
            }
        }

        .epm-nav-node-opened {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAASCAYAAABrXO8xAAAAUklEQVQ4y6XTywkAMAgDUPffy0UcwBXsrSCt3xw8PhBNSESsGmY2VXVDHTSGEUphhkJYoS/soAd2kYMTdOEU4XC9KnQc6B1QAKDIQSGHapUV+QCNF50M5UjTYgAAAABJRU5ErkJggg==') /*../../../images/navigation/notch.png*/;
            *background-image: url(/_layouts/15/epmlive/images/navigation/notch.png); /* For IE 6 and 7 */
            background-position: 40px 14px;
            background-repeat: no-repeat;
        }

        .epm-nav-node-selected {
            span {
                color: @base-blue !important;
            }
        }

        .epm-nav-tlnode {
            .text-shadow(@color: #F8F8F8);
        }

        .epm-nav-tl-sep {
            border-bottom: 1px solid #CECECE;
            height: 1px !important;
            margin: 0 auto;
            padding-top: 5px;
            width: 40px;
        }
    }

    ul.bottom {
        position: absolute;
        bottom: @top-nav-width + 25;
        width: 100%;
    }
}

#epm-nav-sub {
    background-color: #EEEEEE;
    .box-shadow(@x: -1px, @color: @shadow-color);
    display: none;
    float: left;
    height: 100%;
    left: 50px;
    position: absolute;
    width: @sub-nav-width;
    z-index: 1000;
}

#epm-nav-pin {
    color: #7C7C7C;
    display: none;
    padding-right: 10px;
    padding-top: 3px;
    position: absolute;
    right: 0;
    z-index: 5000;
    .cursor-hand;
    .transition;
}

.epm-nav-sub {
    display: none;
    position: relative;

    ul.epm-nav-links {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0;
            padding: 1.5px 5px 1.5px 35px;
            height: 23px;
            line-height: 23px;
            width: @link-width;
            .ellipsis;

            a {
                padding-left: 6px;
                font-size: @link-font;
                .epm-nav-node;
            }

            &:hover {
                background-color: @hover-color;

                a {
                    text-decoration: none;
                }
            }
        }
    }

    ul.epm-nav-node-static {
        margin-top: 5px;

        li {
            padding-left: 10px;
            width: @link-width + 25px;
        }
    }

    ul.epm-nav-node-collapsed {
        display: none;
    }

    ul.epm-nav-node-expanded {
        display: block;
    }

    div.epm-nav-sub-sep {
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
        height: 1px;
        margin: 7px auto 0;
        width: 95%;
    }

    .epm-nav-cat {
        margin-left: 10px !important;
        margin-top: 13px;
        .ellipsis;
        .cursor-hand;

        span.epm-nav-node-collapsed,
        span.epm-nav-node-expanded {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA+0lEQVQoz32STQrCMBBG2zsIepDuhXRvvYJS6E5BcSN4tYILregB1J3uBDdCwWXxjU5KjLWFR77MTzLpTGCMCewXx3EHJpBDqeRq6zhxtQjBwB52sNK9Ub1TH/eYsL6JTYLxCgu3AvcG8UkM/oFN6mE4QeYFLwXPlsGRnK4kzqDw62ethK83fXQB00DrHzeUV3Jg2WBPYSviQUBky0NXkiC3udqWzRrB7Z0oG+ddlbah8rSbeBdxgFFTqUJbqXPYOK1p/Tn4N+xnth1nOclvBz6/HSk2aV3PGoZw+TcAYtMBkJjEPalp5PokCCv4HTmvuXbI1/Ak6Kn6Z8hfnBiolCTl1+kAAAAASUVORK5CYII=') /*../../../images/navigation/expand.png*/;
            *background-image: url(/_layouts/15/epmlive/images/navigation/expand.png); /* For IE 6 and 7 */
            background-position: left center;
            background-repeat: no-repeat;
            display: inline-block;
            width: 14px;
            margin-right: 5px;
        }

        span.epm-nav-node-expanded {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA7ElEQVQoz52SOwrCQBCG1zsE9CD2wqZXr6AE0ikoNgGvJlj4QA+gdtoJNoJiKX6js2FJVgwGPjKPf3aG3THWWuO+OI4jGMAMbspMY5Gny40aWNjAGqbqW7XXmqOPreWdcDoETzDxJ/A7SE405NuuqEFgD6l3kCmN9bFT2JGvi2gEq5DwS/EKhkbn75uKH9oElmJc6djUYIb95H8vILFMNU04vwvFcYUq+lV4EWMLvX9GHcMidKOhyyG/wB+55zjISRWeIyEnT9dwgS4cvy2AxHQBRNPxTwqtXIsCYQrllSuM4pZ8Dg9ED7VLS/4Cnk2YheFbyPsAAAAASUVORK5CYII=') /*../../../images/navigation/collapse.png*/;
            *background-image: url(/_layouts/15/epmlive/images/navigation/collapse.png); /* For IE 6 and 7 */
        }

        .epm-nav-cat-title {
            position: relative;
            top: -1px;
        }
    }

    .epm-nav-node {
        color: #666666;
        font-family: 'Open Sans Regular', sans-serif;
        font-weight: 300;
        font-size: @link-font;
        height: @node-height;
        line-height: @node-height;
    }

    div.epm-nav-node {
        width: @node-width+20;
    }

    div.epm-nav-node-root {
        font-size: 1.15em;
        margin-left: 5px;
        margin-bottom: 1px;
    }

    .epm-nav-sub-menu {

        td.epm-nav-node {
            width: @node-width;

            a.epm-nav-node {
                padding-left: 6px;
            }
        }

        .epm-nav-node-root {
            font-size: 1.15em;
            margin-left: 5px;
        }

        span.epm-nav-node-root {
            position: relative;
            top: -2px;
        }

        .epm-nav-node-hover {
            background-color: @hover-color;

            a {
                text-decoration: none;
            }
        }

        table {
            margin-left: 10px;
            margin-top: 13px;
        }

        div {
            table {
                margin: 0;
                padding-top: 1.5px;
                padding-bottom: 1.5px;
            }
        }

        table.epm-nav-node-selected {
            border-left: 5px solid @base-blue !important;
            background-color: @hover-color;

            td.epm-nav-node {
                width: @node-width - 5px;

                a {
                    padding-left: 1px !important;
                }
            }
        }
    }
}

.epm-nav-unpinned {
	margin-left: @top-nav-width;
}

.epm-nav-pinned {
	margin-left: @top-nav-width + @sub-nav-width;
}

.epm-nav-pin-unpinned {
	.transform;
}

.epm-nav-pin-pinned {
	.transform(-45deg);
}