.ellipsis {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cursor-hand {
  cursor: pointer;
  cursor: hand;
}
.ms-dialog #epm-nav {
  display: none;
}
.ms-dialog .epm-nav-pinned {
  margin-left: auto;
}
#epm-nav .slimScrollDiv .slimScrollBar {
  border-radius: 0px !important;
}
#epm-nav-top {
  -moz-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2) inset;
  background-color: #E2E2E2;
  height: 100%;
  position: absolute;
  top: 50px;
  width: 50px;
}
#epm-nav-top ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#epm-nav-top ul li {
  text-align: center;
  height: 40px;
}
#epm-nav-top ul li span {
  color: #7C7C7C;
  font-size: 2.2em;
  margin-top: 5px;
  cursor: pointer;
  cursor: hand;
}
#epm-nav-top ul .epm-nav-node-opened {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAASCAYAAABrXO8xAAAAUklEQVQ4y6XTywkAMAgDUPffy0UcwBXsrSCt3xw8PhBNSESsGmY2VXVDHTSGEUphhkJYoS/soAd2kYMTdOEU4XC9KnQc6B1QAKDIQSGHapUV+QCNF50M5UjTYgAAAABJRU5ErkJggg==') /*../../../images/navigation/notch.png*/;
  *background-image: url(/_layouts/15/epmlive/images/navigation/notch.png);
  /* For IE 6 and 7 */

  background-position: 40px 14px;
  background-repeat: no-repeat;
}
#epm-nav-top ul .epm-nav-node-selected span {
  color: #0090ca !important;
}
#epm-nav-top ul .epm-nav-tlnode {
  -webkit-text-shadow: 0 1px 0 #f8f8f8;
  text-shadow: 0 1px 0 #f8f8f8;
}
#epm-nav-top ul .epm-nav-tl-sep {
  border-bottom: 1px solid #CECECE;
  height: 1px !important;
  margin: 0 auto;
  padding-top: 5px;
  width: 40px;
}
#epm-nav-top ul.bottom {
  position: absolute;
  bottom: 75px;
  width: 100%;
}
#epm-nav-sub {
  background-color: #eeeeee;
  -moz-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2) inset;
  display: none;
  float: left;
  height: 100%;
  left: 50px;
  position: absolute;
  width: 180px;
  z-index: 1000;
}
#epm-nav-pin {
  color: #7C7C7C;
  display: none;
  padding-right: 10px;
  padding-top: 3px;
  position: absolute;
  right: 0;
  z-index: 5000;
  cursor: pointer;
  cursor: hand;
  -webkit-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  transition: All 0.2s ease;
}
.epm-nav-sub {
  display: none;
  position: relative;
}
.epm-nav-sub .epm-nav-sub-header,
.epm-nav-sub li.epm-nav-sub-header,
.epm-nav-sub .epm-nav-sub-header-bottom,
.epm-nav-sub li.epm-nav-sub-header-bottom {
  border-bottom: 1px solid #D6D6D6;
  color: #969696;
  font-family: Open Sans Regular;
  font-size: 1em;
  letter-spacing: 0.5px;
  margin-left: 10px;
  text-transform: uppercase;
  width: 160px;
  height: 30px !important;
  line-height: 30px !important;
  -webkit-text-shadow: 0 1px 0 #ecf0f3;
  text-shadow: 0 1px 0 #ecf0f3;
}
.epm-nav-sub .epm-nav-sub-header-bottom,
.epm-nav-sub li.epm-nav-sub-header-bottom {
  border-bottom: none;
  border-top: 1px solid #FFFFFF;
  padding: 0;
  height: 0 !important;
  line-height: 0 !important;
}
.epm-nav-sub li.epm-nav-sub-header-bottom {
  height: 5px !important;
  line-height: 5px !important;
}
.epm-nav-sub li.epm-nav-sub-header,
.epm-nav-sub li.epm-nav-sub-header-bottom {
  margin: 0 0 0 10px !important;
  padding: 0 !important;
  width: 160px !important;
}
.epm-nav-sub li.epm-nav-sub-header:hover,
.epm-nav-sub li.epm-nav-sub-header-bottom:hover {
  background-color: #eeeeee !important;
}
.epm-nav-sub ul.epm-nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.epm-nav-sub ul.epm-nav-links li {
  margin: 0;
  padding: 1.5px 5px 1.5px 32px;
  height: 23px;
  line-height: 23px;
  width: 139px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.epm-nav-sub ul.epm-nav-links li a {
  padding-left: 6px;
  color: #666666;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 300;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
.epm-nav-sub ul.epm-nav-links li a:hover {
  text-decoration: none;
}
.epm-nav-sub ul.epm-nav-links li:hover {
  background-color: #e7e7e7;
}
.epm-nav-sub ul.epm-nav-node-static li {
  padding-left: 5px;
  width: 164px;
}
.epm-nav-sub ul.epm-nav-node-collapsed {
  display: none;
}
.epm-nav-sub ul.epm-nav-node-expanded {
  display: block;
}
.epm-nav-sub div.epm-nav-sub-sep {
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #cecece;
  height: 0px;
  margin: 7px auto 0;
  width: 160px;
}
.epm-nav-sub .epm-nav-cat {
  margin-left: 7px !important;
  margin-top: 13px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  cursor: hand;
}
.epm-nav-sub .epm-nav-cat span.epm-nav-node-collapsed,
.epm-nav-sub .epm-nav-cat span.epm-nav-node-expanded {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA+0lEQVQoz32STQrCMBBG2zsIepDuhXRvvYJS6E5BcSN4tYILregB1J3uBDdCwWXxjU5KjLWFR77MTzLpTGCMCewXx3EHJpBDqeRq6zhxtQjBwB52sNK9Ub1TH/eYsL6JTYLxCgu3AvcG8UkM/oFN6mE4QeYFLwXPlsGRnK4kzqDw62ethK83fXQB00DrHzeUV3Jg2WBPYSviQUBky0NXkiC3udqWzRrB7Z0oG+ddlbah8rSbeBdxgFFTqUJbqXPYOK1p/Tn4N+xnth1nOclvBz6/HSk2aV3PGoZw+TcAYtMBkJjEPalp5PokCCv4HTmvuXbI1/Ak6Kn6Z8hfnBiolCTl1+kAAAAASUVORK5CYII=') /*../../../images/navigation/expand.png*/;
  *background-image: url(/_layouts/15/epmlive/images/navigation/expand.png);
  /* For IE 6 and 7 */

  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 14px;
  margin-right: 5px;
}
.epm-nav-sub .epm-nav-cat span.epm-nav-node-expanded {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA7ElEQVQoz52SOwrCQBCG1zsE9CD2wqZXr6AE0ikoNgGvJlj4QA+gdtoJNoJiKX6js2FJVgwGPjKPf3aG3THWWuO+OI4jGMAMbspMY5Gny40aWNjAGqbqW7XXmqOPreWdcDoETzDxJ/A7SE405NuuqEFgD6l3kCmN9bFT2JGvi2gEq5DwS/EKhkbn75uKH9oElmJc6djUYIb95H8vILFMNU04vwvFcYUq+lV4EWMLvX9GHcMidKOhyyG/wB+55zjISRWeIyEnT9dwgS4cvy2AxHQBRNPxTwqtXIsCYQrllSuM4pZ8Dg9ED7VLS/4Cnk2YheFbyPsAAAAASUVORK5CYII=') /*../../../images/navigation/collapse.png*/;
  *background-image: url(/_layouts/15/epmlive/images/navigation/collapse.png);
  /* For IE 6 and 7 */

}
.epm-nav-sub .epm-nav-cat .epm-nav-cat-title {
  position: relative;
  top: -1px;
}
.epm-nav-sub .epm-nav-node {
  color: #666666;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 300;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
.epm-nav-sub div.epm-nav-node {
  width: 164px;
}
.epm-nav-sub div.epm-nav-node-root {
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 1px;
}
.epm-nav-sub .epm-nav-sub-menu td.epm-nav-node {
  width: 144px;
}
.epm-nav-sub .epm-nav-sub-menu td.epm-nav-node a.epm-nav-node {
  padding-left: 3px;
}
.epm-nav-sub .epm-nav-sub-menu .epm-nav-node-root {
  font-size: 12px;
  margin-left: 5px;
}
.epm-nav-sub .epm-nav-sub-menu span.epm-nav-node-root {
  position: relative;
  top: -2px;
}
.epm-nav-sub .epm-nav-sub-menu .epm-nav-node-hover {
  background-color: #e7e7e7;
}
.epm-nav-sub .epm-nav-sub-menu .epm-nav-node-hover a {
  text-decoration: none;
}
.epm-nav-sub .epm-nav-sub-menu table {
  margin-left: 7px;
  margin-top: 13px;
}
.epm-nav-sub .epm-nav-sub-menu div table {
  margin: 0;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}
.epm-nav-sub .epm-nav-sub-menu table.epm-nav-node-selected {
  border-left: 3px solid #0090ca !important;
  background-color: #e7e7e7;
}
.epm-nav-sub .epm-nav-sub-menu table.epm-nav-node-selected td.epm-nav-node {
  width: 141px;
}
.epm-nav-sub .epm-nav-sub-menu table.epm-nav-node-selected td.epm-nav-node a {
  padding-left: 1px !important;
}
.epm-nav-unpinned {
  margin-left: 50px;
}
.epm-nav-pinned {
  margin-left: 230px;
}
.epm-nav-pin-unpinned {
  -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
  -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
  transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}
.epm-nav-pin-pinned {
  -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
  -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
  -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
  -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
  transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
}
