.link-trans {
  -moz-transition: background-color 0.1s ease-in, color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in, color 0.1s ease-in;
  -webkit-transition: background-color 0.1s ease-in, color 0.1s ease-in;
  transition: background-color 0.1s ease-in, color 0.1s ease-in;
}
.no-trans {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
.ellipsis {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cursor-hand {
  cursor: pointer;
  cursor: hand;
}
#epm-nav .slimScrollDiv .slimScrollBar {
  border-radius: 0px !important;
}
#epm-nav-top {
  -moz-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2) inset;
  background-color: #E2E2E2;
  height: 100%;
  position: absolute;
  top: 50px;
  width: 50px;
}
#epm-nav-top ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#epm-nav-top ul li {
  text-align: center;
  height: 40px;
}
#epm-nav-top ul li:hover span {
  color: #555555;
}
#epm-nav-top ul li span {
  color: #7C7C7C;
  font-size: 2.2em;
  margin-top: 5px;
  cursor: pointer;
  cursor: hand;
}
#epm-nav-top ul .epm-nav-node-opened {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAASCAYAAABrXO8xAAAAUklEQVQ4y6XTywkAMAgDUPffy0UcwBXsrSCt3xw8PhBNSESsGmY2VXVDHTSGEUphhkJYoS/soAd2kYMTdOEU4XC9KnQc6B1QAKDIQSGHapUV+QCNF50M5UjTYgAAAABJRU5ErkJggg==') /*../../../images/navigation/notch.png*/;
  *background-image: url(/_layouts/15/epmlive/images/navigation/notch.png);
  /* For IE 6 and 7 */

  background-position: 40px 14px;
  background-repeat: no-repeat;
}
#epm-nav-top ul .epm-nav-node-selected span {
  color: #0090ca !important;
}
#epm-nav-top ul .epm-nav-tlnode {
  left: -1px;
  position: relative;
  -webkit-text-shadow: 0 1px 0 #f8f8f8;
  text-shadow: 0 1px 0 #f8f8f8;
}
#epm-nav-top ul .epm-nav-tl-sep {
  border-bottom: 1px solid #CECECE;
  height: 1px !important;
  margin: 0 auto;
  padding-top: 5px;
  width: 40px;
}
#epm-nav-top ul.bottom {
  position: absolute;
  bottom: 75px;
  width: 100%;
}
#epm-nav-sub {
  background-color: #eeeeee;
  -moz-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2) inset;
  display: none;
  float: left;
  height: 100%;
  left: 50px;
  position: absolute;
  width: 180px;
  z-index: 150;
}
#epm-nav-pin {
  color: #7C7C7C;
  display: none;
  padding-right: 10px;
  padding-top: 3px;
  position: absolute;
  right: 0;
  z-index: 155;
  cursor: pointer;
  cursor: hand;
  -webkit-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  transition: All 0.2s ease;
}
.epm-nav-sub {
  display: none;
  position: relative;
}
.epm-nav-sub .epm-nav-icon {
  margin-left: 5px;
  position: relative;
  top: -3.5px;
}
.epm-nav-sub .epm-nav-dragger {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAA/CAYAAAAL1VP7AAAAkklEQVRYw+3RIQ7DQAxE0YmUWEu9xNz3Ku8RVjlAtEcI7/0aunJISUMqq7zqDPyy0Zu23m+yiMQZsbb2AICsZdt632WREmeMtbX7Z5vdXVQrjuMp11PWsrl7ed+VrM2qNcxMAMR1kLVsqnWYWQEwvrXf20RQghKUoAQlKEEJSlCCEpSgBCUoQQlKUIISlKB/A/oC07C7ok5v51YAAAAASUVORK5CYII=') /*../../../images/dragger.png*/;
  *background-image: url(/_layouts/15/epmlive/images/dragger.png);
  /* For IE 6 and 7 */

  background-repeat: no-repeat;
  cursor: move;
  display: inline-block;
  width: 8px;
  visibility: hidden;
  position: relative;
  top: -3px;
}
.epm-nav-sub .epm-nav-drag-placeholder {
  border: 1px dashed #0090ca;
}
.epm-nav-sub .epm-menu-btn {
  background-color: #DDE4EA;
  border: 1px solid #C0CCD7;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  font-family: 'Open Sans Regular';
  font-size: 9px;
  height: 16px;
  line-height: 16px;
  margin-right: 7px;
  margin-top: 2px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 16px;
  visibility: hidden;
}
.epm-nav-sub .epm-menu-btn span {
  position: relative;
  left: -1px;
  top: 1px;
}
.epm-nav-sub .epm-nav-sub-header,
.epm-nav-sub li.epm-nav-sub-header,
.epm-nav-sub .epm-nav-sub-header-bottom,
.epm-nav-sub li.epm-nav-sub-header-bottom,
.epm-nav-sub li.epm-nav-section-header {
  border-bottom: 1px solid #D6D6D6;
  color: #969696;
  font-family: Open Sans Regular;
  font-size: 12.75px;
  letter-spacing: 0.5px;
  margin-left: 10px;
  text-transform: uppercase;
  width: 160px;
  height: 30px !important;
  line-height: 30px !important;
  -webkit-text-shadow: 0 1px 0 #ecf0f3;
  text-shadow: 0 1px 0 #ecf0f3;
}
.epm-nav-sub .epm-nav-sub-header:hover,
.epm-nav-sub li.epm-nav-sub-header:hover,
.epm-nav-sub .epm-nav-sub-header-bottom:hover,
.epm-nav-sub li.epm-nav-sub-header-bottom:hover,
.epm-nav-sub li.epm-nav-section-header:hover {
  color: #969696 !important;
}
.epm-nav-sub .epm-nav-sub-header-bottom,
.epm-nav-sub li.epm-nav-sub-header-bottom {
  border-bottom: none;
  border-top: 1px solid #FFFFFF;
  padding: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
}
.epm-nav-sub li.epm-nav-sub-header-bottom {
  height: 5px !important;
  line-height: 5px !important;
}
.epm-nav-sub li.epm-nav-sub-header,
.epm-nav-sub li.epm-nav-section-header,
.epm-nav-sub li.epm-nav-sub-header-bottom {
  margin: 0 0 0 10px !important;
  width: 160px !important;
}
.epm-nav-sub li.epm-nav-sub-header:hover,
.epm-nav-sub li.epm-nav-section-header:hover,
.epm-nav-sub li.epm-nav-sub-header-bottom:hover {
  background-color: #eeeeee !important;
}
.epm-nav-sub li.epm-nav-section-header {
  padding: 0 !important;
}
.epm-nav-sub li.epm-nav-sub-header {
  padding-left: 0 !important;
  padding-top: 10px !important;
  width: 155px !important;
}
.epm-nav-sub li.epm-nav-sub-placeholder {
  color: #CCCCCC;
  margin-bottom: 30px !important;
  margin-top: 30px !important;
  text-align: center;
  position: relative;
  left: -5px;
}
.epm-nav-sub li.epm-nav-sub-placeholder:hover {
  color: #CCCCCC !important;
  background: #eeeeee !important;
}
.epm-nav-sub ul.epm-nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.epm-nav-sub ul.epm-nav-links .epm-nav-node-selected {
  border-left: 3px solid #0090ca !important;
  background-color: #e7e7e7;
}
.epm-nav-sub ul.epm-nav-links .epm-nav-node-selected a {
  padding-left: 3px !important;
}
.epm-nav-sub ul.epm-nav-links li.epm-nav-trans {
  -moz-transition: background-color 0.1s ease-in, color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in, color 0.1s ease-in;
  -webkit-transition: background-color 0.1s ease-in, color 0.1s ease-in;
  transition: background-color 0.1s ease-in, color 0.1s ease-in;
}
.epm-nav-sub ul.epm-nav-links li.epm-nav-trans a:hover {
  color: #3376a4;
}
.epm-nav-sub ul.epm-nav-links li {
  margin: 0;
  padding: 1.5px 5px 1.5px 32px;
  height: 23px;
  line-height: 23px;
  width: 139px;
}
.epm-nav-sub ul.epm-nav-links li a {
  padding-left: 6px;
  width: 125px;
  display: inline-block;
  color: #666666;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 300;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.epm-nav-sub ul.epm-nav-links li a:hover {
  text-decoration: none;
}
.epm-nav-sub ul.epm-nav-links li:hover {
  background-color: #e7e7e7;
  color: #3376a4;
}
.epm-nav-sub ul.epm-nav-links li:hover .epm-menu-btn {
  visibility: visible;
}
.epm-nav-sub ul.epm-nav-links.epm-nav-node-static li a {
  width: 160px;
}
.epm-nav-sub li.epm-nav-node.epm-nav-trans a {
  width: 145px !important;
  position: relative;
  top: 1px;
}
.epm-nav-sub li.epm-nav-button {
  background: #F5F5F5;
  border: 1px solid #CCCCCC;
  color: #666666;
  font-family: Helvetica;
  font-weight: 300;
  margin: 5px auto 5px 14px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  width: 140px !important;
  border-radius: 5px;
  height: 25px !important;
  position: relative;
  left: -1px;
  text-align: center;
  text-transform: uppercase;
  background: -webkit-linear-gradient(top, #ffffff 0, #f2f2f2 100%);
  background: -moz-linear-gradient(top, #ffffff 0, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #ffffff 0, #f2f2f2 100%);
  background: -o-linear-gradient(top, #ffffff 0, #f2f2f2 100%);
  background: linear-gradient(to bottom, #ffffff 0, #f2f2f2 100%);
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  cursor: pointer;
  cursor: hand;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
}
.epm-nav-sub li.epm-nav-button a {
  font-size: 0.8em !important;
  left: -1px;
  position: relative;
  width: 140px !important;
}
.epm-nav-sub li.epm-nav-button a:active {
  outline: none;
}
.epm-nav-sub li.epm-nav-button a:focus {
  -moz-outline-style: none;
  outline-style: none;
}
.epm-nav-sub li.epm-nav-button span {
  font-size: 1.4em;
  top: -5px !important;
}
.epm-nav-sub li.epm-nav-button a,
.epm-nav-sub li.epm-nav-button span {
  color: #666666 !important;
  padding: 0 !important;
  height: 25px !important;
  line-height: 25px !important;
}
.epm-nav-sub li.epm-nav-button a:hover,
.epm-nav-sub li.epm-nav-button span:hover {
  color: #666666;
}
.epm-nav-sub li.epm-nav-button:hover {
  background: #F5F5F5 !important;
}
.epm-nav-sub span.epm-nav-sortable + a {
  width: 125px !important;
}
.epm-nav-sub ul.epm-nav-node-static li {
  padding-left: 5px;
  width: 169px;
}
.epm-nav-sub ul.epm-nav-node-static .epm-nav-node.epm-nav-node-selected {
  width: 166px;
}
.epm-nav-sub ul.epm-nav-node-static .epm-nav-node.epm-nav-node-selected .epm-nav-icon {
  left: -3px;
}
.epm-nav-sub ul.epm-nav-node-collapsed {
  display: none;
}
.epm-nav-sub ul.epm-nav-node-expanded {
  display: block;
}
.epm-nav-sub div.epm-nav-sub-sep {
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #cecece;
  height: 0px;
  margin: 7px auto 0;
  width: 160px;
}
.epm-nav-sub .epm-nav-cat {
  margin-left: 7px !important;
  margin-top: 13px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  cursor: hand;
}
.epm-nav-sub .epm-nav-cat span.epm-nav-node-collapsed,
.epm-nav-sub .epm-nav-cat span.epm-nav-node-expanded {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAABAElEQVQoz2WSOwrCQBRFp9BCXYKCoAhuIx/SidiK7iGL8dNrKRYilqIWWYZgoYiuIYXnyjMMMXDyfvfNvMzEOXvCMKxFUTSADTwN+QPVnP+QaFNYwhFS6Bup5ZbS/MQNWJOcQ105bEeYX4cFmlUQBA3Ha0RwieO46u2YIcq8uEp8wQ4V7GHij0jxRe5VGntKfifnzi5Ngq5Wxpc4x+Zq0k6qQQuuWu0BTYpdK0qUG2rOrKZFb2o4kBiXtlfT30jwHWlE8YyteN+gVYuPTpKkwognab/HimCNnUFxrAj8Y1VtJW1xceBfXI8GkZI/2qW2Xekof7/GFt4I3/KxyhW/xgdIDogikF40/wAAAABJRU5ErkJggg==') /*../../../images/navigation/expand.png*/;
  *background-image: url(/_layouts/15/epmlive/images/navigation/expand.png);
  /* For IE 6 and 7 */

  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 14px;
  margin-right: 5px;
}
.epm-nav-sub .epm-nav-cat span.epm-nav-node-expanded {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAA7UlEQVQoz42SPQrCQBBGt9BCPYKCRRrxFvkhXZC0onfIYdT0SSkWIpZBLXIMwUIRxEP4PtlIFEQXXmZ25pvZ3ewaY4fneS3f9yNYwtUiP1LO1AeBPokUCkhgaElsLJWmEncgJziHtvkYisECTea6bsfwiZkcgiBoWkFdXDVt4h+wI002MDE/BpopRWs5Z1bpMnHwS7jXDi2/VA56cNSyF+gidGzyjv9WYHNqelLBlsD4ny3Bc0sxRXts49uhwzBssO2dtM/fSiLHzuDbb1Uuk/Z1cVC/uAEdRUK8sJfa/+xUPY0V3BDe5GMVez2NB59Fen3s5n5YAAAAAElFTkSuQmCC') /*../../../images/navigation/collapse.png*/;
  *background-image: url(/_layouts/15/epmlive/images/navigation/collapse.png);
  /* For IE 6 and 7 */

}
.epm-nav-sub .epm-nav-cat .epm-nav-cat-title {
  position: relative;
  top: -1px;
}
.epm-nav-sub .epm-nav-node {
  color: #666666;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 300;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
.epm-nav-sub div.epm-nav-node {
  width: 164px;
}
.epm-nav-sub div.epm-nav-node-root {
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 1px;
}
.epm-nav-sub .epm-nav-sub-menu td.epm-nav-node {
  width: 144px;
}
.epm-nav-sub .epm-nav-sub-menu td.epm-nav-node a.epm-nav-node {
  padding-left: 3px;
  width: 136px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.epm-nav-sub .epm-nav-sub-menu .epm-nav-node-root {
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
  cursor: hand;
}
.epm-nav-sub .epm-nav-sub-menu span.epm-nav-node-root {
  position: relative;
  top: -1px;
}
.epm-nav-sub .epm-nav-sub-menu .epm-nav-node-hover {
  background-color: #e7e7e7;
}
.epm-nav-sub .epm-nav-sub-menu .epm-nav-node-hover a {
  text-decoration: none;
}
.epm-nav-sub .epm-nav-sub-menu table {
  margin-left: 7px;
  margin-top: 9px;
}
.epm-nav-sub .epm-nav-sub-menu div table {
  margin: 0;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}
.epm-nav-sub .epm-nav-sub-menu div table a {
  display: block;
}
.epm-nav-sub .epm-nav-sub-menu table.epm-nav-node-selected {
  border-left: 3px solid #0090ca !important;
  background-color: #e7e7e7;
}
.epm-nav-sub .epm-nav-sub-menu table.epm-nav-node-selected td.epm-nav-node {
  width: 141px;
}
.epm-nav-sub .epm-nav-sub-menu table.epm-nav-node-selected td.epm-nav-node a {
  padding: 0;
}
.epm-nav-sub #EPMNavWorkspacesTree {
  display: none;
}
.epm-nav-sub #EPMNavWorkspacesTree #EPMNavWSTSearch {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 5px;
  padding: 4px 15px 4px 30px;
  width: 112px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAwklEQVQoz2P4//8/A7kYTFy/fh2G7YF4FxC/AuIbQDwHiEWR5OEYXXMREP8H4idQTeuA+CfUIF18mkGSf4B4IxBzIikyAOIPQHwen+YWqC3YnAhzkRYuzSuA+CE2vwGxB1SzNy7NXVBnY7O5GqrZAJ+f/0MDiQfNz28J+RnZhudAPB+It0Bd8x8aHn74NMPi+QA0hO8B8SKoITADAvFpxobZoN6BGRBCimaYAauRvUCKZnQDJpCqGYSZoQHHBtdMLgYAk6CBgMOtyqoAAAAASUVORK5CYII=') /*../../../images/navigation/search-white.png*/;
  *background-image: url(/_layouts/15/epmlive/images/navigation/search-white.png);
  /* For IE 6 and 7 */

  background-repeat: no-repeat;
  background-position: 8px center;
  border: 1px solid #d0d0d0;
  background-color: #fcfcfc;
  color: #bcbcbc;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView {
  margin-left: 10px;
  white-space: nowrap;
  display: inline-block;
}
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView a {
  color: #666666;
  font-family: 'Open Sans Regular', sans-serif;
}
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView li.rtLI div.epm-nav-ws-node {
  height: 23px;
}
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView li.rtLI div.rtHover,
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView li.rtLI div.rtSelected {
  height: 23px;
}
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView li.rtLI div.rtHover a,
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView li.rtLI div.rtSelected a {
  background: none repeat scroll 0 0 transparent !important;
  border: medium none;
  color: #666666;
  padding: 4px 3px;
  margin-left: 1px;
  position: static;
}
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView li.rtLI div.rtSelected a.rtIn {
  background: #DDDDDD !important;
  border: 1px solid #cccccc;
  color: #666666;
}
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView li.rtLI ul.epm-nav-contextual-menu {
  width: auto !important;
  position: absolute;
  right: 0;
  margin-right: 5px;
}
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView li.rtLI ul.epm-nav-contextual-menu li {
  width: auto !important;
  height: 23px;
  line-height: 23px;
}
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView li.rtLI ul.epm-nav-contextual-menu li .epm-nav-cm-icon {
  top: -6px;
}
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView li.rtLI ul.epm-nav-contextual-menu a:hover {
  text-decoration: none;
}
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView div.epm-nav-ws-node {
  display: inline-block;
}
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView div.epm-nav-ws-node a {
  display: inline-block;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView div.epm-nav-ws-node .epm-menu-btn {
  right: auto !important;
  margin-left: 7px;
}
.epm-nav-sub #EPMNavWorkspacesTree .RadTreeView div.epm-nav-ws-node:hover .epm-menu-btn {
  visibility: visible;
}
.epm-nav-pin-unpinned {
  -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
  -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
  transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}
.epm-nav-pin-pinned {
  -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
  -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
  -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
  -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
  transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
}
.icon-ellipsis-horizontal:after {
  content: '•••';
  position: relative;
  top: -1px;
}
ul.epm-nav-contextual-menu {
  display: none;
  padding: 0;
  margin: 0;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  background: #ffffff;
  position: relative;
  z-index: 160;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
ul.epm-nav-contextual-menu li {
  padding: 0 0 0 10px !important;
  margin: 5px 0 !important;
  width: 159px !important;
  color: #999999 !important;
  list-style: none outside none;
}
ul.epm-nav-contextual-menu li:hover {
  background: #E6F2FB !important;
}
ul.epm-nav-contextual-menu li span.epm-nav-cm-icon {
  margin-right: 5px;
  position: relative;
  top: -3.5px;
}
ul.epm-nav-contextual-menu li span.epm-nav-cm-blank {
  margin-right: 17px !important;
}
ul.epm-nav-contextual-menu li a {
  color: #999999 !important;
  padding: 0 !important;
}
ul.epm-nav-contextual-menu li a:hover {
  background: #E6F2FB !important;
  color: #999999 !important;
}
ul.epm-nav-contextual-menu li.seprator {
  height: 0 !important;
  border-bottom: 1px solid #E9E9E9;
  width: 149px !important;
}
li.epm-nav-node-selected ul.epm-nav-contextual-menu li span.epm-nav-cm-icon {
  margin-right: 2px;
}
li.epm-nav-node-selected ul.epm-nav-contextual-menu li a {
  width: 133px !important;
}
#epm-nav-sub-new-static-links .epm-nav-sub-header,
#epm-nav-sub-favorites-static-links .epm-nav-sub-header {
  border-bottom: none;
}
#epm-nav-sub-new-static-links .epm-nav-sub-header-bottom,
#epm-nav-sub-favorites-static-links .epm-nav-sub-header-bottom {
  border-top: none;
}
.ms-dialog #epm-nav {
  display: none;
}
.ms-dialog #contentBox {
  margin-left: 0;
}
.js-callout-mainElement {
  z-index: 200 !important;
}
