

/*DialogNew.css*/
select
{
font-family:Verdana;
font-size:12px;
color:#535353;
}

input
{
font-family:Verdana;
font-size:12px;
color:#535353;
}

.epmliveFormula
{
font-family:Verdana;
font-size:12px;
color:#535353;
}

.button-container 
{
overflow: hidden;
/*width:205px;*/
float:right;
margin-top:10px;
margin-bottom:10px;
}

.button-container-3
{
overflow: hidden;
width:305px;
float:right;
margin-top:17px;
}

.button-containerVert
{
overflow: hidden;
}

.button-new.save 
{
float: left;
}

.button-new.cancel 
{
float: right;
}

.button-new 
{
font-size: 12px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-ms-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
display: inline-block;
line-height: 24px;
margin-bottom: 4px;
font-weight: normal;
text-shadow: none;
padding: 1px 10px 1px 10px;
white-space: nowrap;
cursor: pointer;
font-family: arial, sans-serif;
text-decoration:none !important;
text-align:center;

}

.button-new.green 
{
/*background: #6ABD3D;*/
background: #6CC325 1px;
background: -webkit-linear-gradient(top, #9FD870 1px, #98DB62 1px, #6ABD3C 100%);
background: -o-linear-gradient(top, #9FD870 1px, #6CC325 1px, #6ABD3C 100%);
background: -ms-linear-gradient(top, #9FD870 1px, #6CC325 1px, #6ABD3C 100%);
background: -moz-linear-gradient(top, #9FD870 1px, #98DB62 1px, #6ABD3C 100%);
border: 1px solid #6ABD3D;
color: white;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9FD870', endColorstr='#6CC325',GradientType=0 );
}

.button-new.silver 
{
background: #EAEAEA;
background: whiteSmoke 1px;
background: -webkit-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
background: -o-linear-gradient(top, white 1px,#FFFFFF 1px, #F0F0F0 100%);
background: -ms-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
background: -moz-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F0F0F0',GradientType=0 );
border: 1px solid gainsboro;
color: #535353;
}

.button-new.green:hover
{
background: #71BF31;
border: 1px solid #60BA16;
filter: none;
}

.button-new.silver:hover
{
background: #F0F0F0;
border: 1px solid #D8D8D8;
filter: none;
}

.disabledGreen
{
opacity:.5;
filter:alpha(opacity=50); /* For IE8 and earlier */
cursor:default;
background: #6CC325 1px;
background: -webkit-linear-gradient(top, #9FD870 1px, #98DB62 1px, #6ABD3C 100%);
background: -o-linear-gradient(top, #9FD870 1px, #6CC325 1px, #6ABD3C 100%);
background: -ms-linear-gradient(top, #9FD870 1px, #6CC325 1px, #6ABD3C 100%);
background: -moz-linear-gradient(top, #9FD870 1px, #98DB62 1px, #6ABD3C 100%);
border: 1px solid #6ABD3D;
color: white;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9FD870', endColorstr='#6CC325',GradientType=0 );
}

.disabledGreen:hover
{
opacity:.5;
filter:alpha(opacity=50); /* For IE8 and earlier */
cursor:default;
background: #6CC325 1px;
background: -webkit-linear-gradient(top, #9FD870 1px, #98DB62 1px, #6ABD3C 100%);
background: -o-linear-gradient(top, #9FD870 1px, #6CC325 1px, #6ABD3C 100%);
background: -ms-linear-gradient(top, #9FD870 1px, #6CC325 1px, #6ABD3C 100%);
background: -moz-linear-gradient(top, #9FD870 1px, #98DB62 1px, #6ABD3C 100%);
border: 1px solid #6ABD3D;
color: white;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9FD870', endColorstr='#6CC325',GradientType=0 );
}

.disabledSilver
{
opacity:.5;
filter:alpha(opacity=50); /* For IE8 and earlier */
cursor:default;
background: #EAEAEA;
background: whiteSmoke 1px;
background: -webkit-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
background: -o-linear-gradient(top, white 1px,#FFFFFF 1px, #F0F0F0 100%);
background: -ms-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
background: -moz-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F0F0F0',GradientType=0 );
border: 1px solid gainsboro;
color: #535353;

}

.disabledSilver:hover
{
opacity:.5;
filter:alpha(opacity=50); /* For IE8 and earlier */
cursor:default;
background: #EAEAEA;
background: whiteSmoke 1px;
background: -webkit-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
background: -o-linear-gradient(top, white 1px,#FFFFFF 1px, #F0F0F0 100%);
background: -ms-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
background: -moz-linear-gradient(top, white 1px, #FFFFFF 1px, #F0F0F0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F0F0F0',GradientType=0 );
border: 1px solid gainsboro;
color: #535353;
}


.modalContent
{
margin-top: 20px;
padding-left:10px;
padding-right:10px;
color: #444444 !important;
font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
font-size:11px !important;
font-weight: normal !important;
padding-bottom:5px;
/*width:100%;
height: 100%;*/
border: none !important;
}


.modal-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
background-color: #CCC;
}

.modal-header h3 
{
font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
font-size: 13px !important;
color: #444 !important;
font-weight: normal !important;
}

.modal-backdrop, .modal-backdrop.fade.in 
{
opacity: 0.5;
}

.modal 
{
outline:none !important;
border-radius: 0px !important;
top:60% !important;
}

.modal-body
{
font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
font-size:11px !important;
color: #444 !important;
font-weight: normal !important;
}

.modal-footer
{
background-color:#ffffff !important;
border:none !important;
}

.epmliveButton
{
    min-width: 6em;
    padding: 2px 10px 4px;
    border: 1px solid #ABABAB;
    background-color: #FDFDFD;
    background-color: #FDFDFD;
    margin: 5px;
    font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
    font-size:11px !important;
    color: #444444;
    height:30px;
    width:75px !important;
}

.epmliveButton:hover
{
border-color: #92C0E0;
background-color: #E6F2FA;
    cursor:pointer;
}

.epmliveButton:active
{
border-color: #2A8DD4;
background-color: #92C0E0;
    cursor:pointer;
}
.epmliveSmallButton
{
    padding: 2px 10px 4px;
    border: 1px solid #ABABAB;
    background-color: #FDFDFD;
    background-color: #FDFDFD;
    margin: 5px;
    font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
    font-size:11px !important;
    color: #444444;
    height:30px !important;
    width:30px !important;
    min-width: 1em !important;
}

.epmliveSmallButton:hover
{
border-color: #92C0E0;
background-color: #E6F2FA;
    cursor:pointer;
}

.epmliveSmallButton:active
{
border-color: #2A8DD4;
background-color: #92C0E0;
    cursor:pointer;
}

/*RPEditor.ascx.css*/

body 
{
    font-family: Verdana, Arial, Helvetica;
    font-size:11px;
    padding: 0;
    border: 0;
    margin: 0;
}
.actionRadio
{
    width:20px;
    vertical-align:top;
}
table.picklist 
{
    width:100%;
    border: 1px solid #B0B8C0;
    border-collapse: collapse;
}
table.picklist td 
{
    padding: 0px;
    width: 114px;
}
.datacol
{
    width: 210px;
}
.buttoncol
{
    width: 10px;
    vertical-align: top;
}
.controlcell
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    vertical-align: top;
    border-bottom: 1px solid silver;
    padding: 5px;
    border-bottom-color: #CCCCCC;
                background-color: #F5F5F5;
                width:500px;
}
.buttoncell
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    vertical-align: top;
    border-top: 1px solid silver;
    padding: 5px;
    border-top-color: #CCCCCC;
    text-align:right;
}
IFRAME.dhtmlx_wins_ie6_cover_fix
{
    height: 0px !important;
}
.rp-negotiate
{
    background: url('./images/epmlive-master.png') -416px -65px !important;
    background-color:#01BCF3 !important;
    background-repeat:no-repeat;
    /*position:relative;
    z-index:5;*/
}
.rp-renegotiate
{
    background: url('./images/epmlive-master.png') -263px -114px !important;
    background-color:#1570A6 !important;
    background-repeat:no-repeat;
}
.rp-commitment
{
    background: url('./images/epmlive-master.png') -363px -65px !important;
    background-color:#55b120 !important;
    background-repeat:no-repeat;
}
.rp-requirement
{
    background-color:#FFFFFF !important;
    background-repeat:no-repeat;
}
.rp-cancelled
{
    background: url('./images/epmlive-master.png') -61px -114px !important;
    background-color:#808080 !important;
    background-repeat:no-repeat;
}
.rp-pm-accepted,.rp-rm-accepted
{
    background: url('./images/epmlive-master.png') -210px -65px !important;
    background-repeat:no-repeat;
}
.rp-pm-rejected,.rp-rm-rejected
{
    background: url('./images/epmlive-master.png') -13px -114px !important;
    background-repeat:no-repeat;
}
.rp-pm-nostatus,.rp-rm-nostatus
{
}
.rp-note
{
    background: url('./images/epmlive-master.png') -312px -65px !important;
    background-color:#dadcdd !important;
    background-repeat:no-repeat;
}
.rp-nonote, .rp_imagecol, .rp-event-noevent
{
    background-color:#dadcdd !important;
    background-repeat:no-repeat;
}
.rp-pm-public
{
    background-color:#dadcdd !important;
    background-repeat:no-repeat;
}
.rp-pm-private {
    background: url("./images/epmlive-master.png") repeat scroll -461px -64px #808080 !important;
}
.rp-event-comment, .rp-event-pmcomment, .rp-event-rmcomment, .rp-event-pmrequest
{
    background: url('./images/epmlive-master.png') -314px -65px !important;
    background-color:#dadcdd !important;
    background-repeat:no-repeat;
}

.rp-rownoevent
{
}
.rp-rowevent, .rp-rowevent0,.rp-rowevent11,.rp-rowevent12,.rp-rowevent13,.rp-rowevent14,.rp-rowevent15,.rp-rowevent16,.rp-rowevent17,.rp-rowevent21,.rp-rowevent22,.rp-rowevent23,.rp-rowevent24,.rp-rowevent31,.rp-rowevent32,.rp-rowevent33,.rp-rowevent34,.rp-rowevent41,.rp-rowevent42,.rp-rowevent43
{
}
#veil {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
filter:alpha(opacity=80);
opacity:0.9;
-moz-opacity:0.9;
-khtml-opacity:0.9;
z-index:997;
background-color:#ffffff;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}
.modalContent {
    margin-top: 0px !important;
}
