 .add-app-logo-box {
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
background: #F8F8F8;
border: 2px solid #e6e6e6;
height: 180px;
margin: 0 0 15px;
text-align: center;
width:270px;
}

.titletd {
    text-align:center;
    padding-top:10px;
    color:#555;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
color: #fff;
background-color: #47a447;
border-color: #398439;
}



.btn-success {
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
}

.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.header-wrapper {
width:100%;
margin-bottom:10px;
margin-top:10px;
font-size: 18px;
line-height: 18px;
color: #333333;
}
