<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AdminSite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="LDAP" value="LDAP://DC=EPM,DC=COM"/>
    <add key="UserContainer" value="OU=EPMLIVE,OU=CUSTOMERS,DC=EPM,DC=COM"/>
    <add key="siteURL" value="https://my.epmlive.com/"/>
    <add key="WebApplication" value="Sharepoint - 80"/>
    <add key="domain" value="epm"/>
    <add key="mailFrom" value="epmlive.info@epmlive.com"/>
    <add key="emailServer" value="localhost"/>
    <add key="accounts.service" value="https://my.epmlive.com/_vti_bin/epmlive/accounts/service.asmx"/>
  <!--<add key="ServiceURL" value="https://www.zuora.com/apps/services/a/33.0"/>
    <add key="ZuoraUserName" value="colo@epmlive.com"/>
    <add key="ZuoraPassword" value="XUVzI5fo8RuegoTqsZ15"/>-->
    <add key="ServiceURL" value="https://apisandbox.zuora.com/apps/services/a/33.0"/>
    <add key="ZuoraUserName" value="chander.k@versata.com"/>
    <add key="ZuoraPassword" value="Pass@word1"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="epmlive" connectionString="server=win-6j09gf4nbp8;database=EPMLIVEdb;User ID=epmlivedb;Password=MCjhfd4562D^7"/>
    <add name="CRM" connectionString="server=win-6j09gf4nbp8;database=EPMLive;User ID=epmlivedb;Password=MCjhfd4562D^7"/>
    <add name="LicensingModel" connectionString="metadata=res://*/Data.LicensingModel.csdl|res://*/Data.LicensingModel.ssdl|res://*/Data.LicensingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=epmlivedb;persist security info=True;user id=epmlivedb;password=MCjhfd4562D^7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Windows"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="Microsoft.SharePoint, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        
    <authentication mode="Forms">
      <forms name=".COOKIEDEMO" 
             loginUrl="login.aspx" 
             protection="All" 
             timeout="30" 
             path="/"/>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>-->
    <trust level="Full" originUrl=""/>
    <!--<identity impersonate="true"  userName="epm\epmliveadmin"  password="CMhd37%^ff" />-->
    <customErrors mode="Off"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <applicationSettings>
    <AdminSite.Properties.Settings>
      <setting name="AdminSite_accountsSvc_Service" serializeAs="String">
        <value>https://my.epmlive.com/_vti_bin/epmlive/accounts/service.asmx</value>
      </setting>
      <setting name="AdminSite_emailservice_Service" serializeAs="String">
        <value>https://my.epmlive.com/_vti_bin/epmlive/emailservice/service.asmx</value>
      </setting>
      <setting name="AdminSite_MSCRM_CrmService" serializeAs="String">
        <value>http://epmlivehelp1/MSCrmServices/2007/CrmService.asmx</value>
      </setting>
      <setting name="AdminSite_ZuoraAPI_ZuoraService" serializeAs="String">
        <value>https://apisandbox.zuora.com/apps/services/a/33.0</value>
      </setting>
    </AdminSite.Properties.Settings>
  </applicationSettings>
</configuration>