

.toolbar ul li
{
float:left;
padding-top:0px; 
padding-right:3px;
padding-bottom:3px;
padding-left:3px;
margin-top:3px;
margin-right: 3px; 
margin-bottom:3px;
margin-left: 5px;
border:1px solid #eeeeee;
}


