.gridHeader
{
font-family:Open Sans Light,Segoe,Verdana;
font-size:24px;
margin-top:-10px;
}

.toolbar
{
border:1px solid #CCCCCC;
background-color:#eeeeee;
margin-top:5px;
margin-bottom:5px;
padding-top:0px;
height:29px !important;
}

.toolbar ul li a img
{
padding-top:2px;
}

.toolbar a
{
cursor:pointer;
}

.toolbar ul
{
list-style-type:none;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}

.toolbar ul li
{
float:left;
padding-top:0px; 
padding-right:3px;
padding-bottom:3px;
padding-left:3px;
margin-top:3px;
margin-right: 3px; 
margin-bottom:3px;
margin-left: 5px;
border:1px solid #eeeeee;
}


.toolbar ul li span {
color:#777777;
font-size:18px;
padding-top:2px;
padding-top:3px\9;
}



