div.epmliveToolBar {
  color: #555555;
  font-family: "Open Sans Regular", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  border-bottom: 1px solid #EEEEEE;
  display: inline-block;
  width: 100%;
  /*@media (min-width: 768px) {
        .navbar-right .dropdown-menu {
            right: 0;
            left: auto;
        }
    }*/
}
div.epmliveToolBar .navbar-collapse:before,
div.epmliveToolBar .navbar-collapse:after {
  content: " ";
  display: table;
}
div.epmliveToolBar *,
div.epmliveToolBar *:before,
div.epmliveToolBar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div.epmliveToolBar .navbar-collapse:after {
  clear: both;
}
div.epmliveToolBar .navbar-collapse.collapse {
  display: block !important;
  height: auto !important;
  overflow: visible !important;
  padding-bottom: 0;
}
div.epmliveToolBar .navbar-collapse {
  border-top: 0 none;
  box-shadow: none;
  width: auto;
  border-top: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  max-height: 340px;
  overflow-x: visible;
  padding-left: 15px;
  padding-right: 15px;
}
div.epmliveToolBar .collapse {
  display: none;
}
div.epmliveToolBar .nav:before,
div.epmliveToolBar .nav:after {
  content: " ";
  display: table;
}
div.epmliveToolBar .nav:after {
  clear: both;
}
div.epmliveToolBar .navbar-nav {
  float: left;
  margin: 0;
  margin: 0px -15px;
}
div.epmliveToolBar .nav {
  list-style: none outside none;
  margin-bottom: 0;
  padding-left: 0;
}
div.epmliveToolBar ul,
div.epmliveToolBar ol {
  margin-bottom: 10px;
  margin-top: 0;
}
div.epmliveToolBar .navbar-nav > li {
  float: left;
  background-color: #fff;
}
div.epmliveToolBar .nav > li {
  display: block;
  position: relative;
}
div.epmliveToolBar .dropdown {
  position: relative;
}
div.epmliveToolBar .navbar-nav > li > a {
  padding-bottom: 15px;
  padding-top: 15px;
  color: #888888;
  cursor: pointer;
  line-height: 20px;
  padding: 15px 10px;
}
div.epmliveToolBar .dropdown-label {
  color: #A3A3A3;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 8px;
}
div.epmliveToolBar .nav > li > a {
  display: block;
  padding: 10px 15px;
  position: relative;
}
div.epmliveToolBar .nav > li > a.nav-icon {
  background-color: #FFFFFF;
  padding-left: 8px;
  padding-right: 8px;
}
div.epmliveToolBar .nav > li > a.nav-icon span {
  padding-right: 8px;
  position: relative;
  top: 0;
}
div.epmliveToolBar .nav > li > a.nav-icon-title span:first-of-type {
  padding-right: 8px;
  font-size: 12px;
  position: relative;
  top: 0;
}
div.epmliveToolBar a {
  color: #0090CA;
  text-decoration: none;
}
div.epmliveToolBar a:hover,
div.epmliveToolBar a:focus {
  color: #007AAA;
}
div.epmliveToolBar .icon-dropdown {
  color: #CCCCCC;
  font-size: 12px;
  padding-right: 15px;
}
div.epmliveToolBar .dropdown-menu > li > a,
div.epmliveToolBar .dropdown-menu > div > li > a {
  clear: both;
  color: #666666;
  display: block;
  font-weight: 400;
  line-height: 1.42857;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  white-space: nowrap;
}
div.epmliveToolBar .dropdown-menu > li > a:hover,
div.epmliveToolBar .dropdown-menu > li > a:focus,
div.epmliveToolBar .dropdown-menu > div > li > a:hover,
div.epmliveToolBar .dropdown-menu > div > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #0090CA;
  border-radius: 3px;
}
div.epmliveToolBar .dropdown-menu > li > a:hover .icon-dropdown,
div.epmliveToolBar .dropdown-menu > div > li > a:hover .icon-dropdown {
  color: #ffffff;
}
div.epmliveToolBar .navbar-nav > li > .dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}
div.epmliveToolBar .navbar-nav > li > .dropdown-menu > div {
  max-height: 300px;
  overflow: auto;
}
div.epmliveToolBar .open > .dropdown-menu {
  display: block;
}
div.epmliveToolBar .dropdown-menu {
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  display: none;
  float: left;
  font-size: 13px;
  left: 0;
  list-style: none outside none;
  margin: 2px 0 0;
  min-width: 160px;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
}
div.epmliveToolBar .dropdown-menu .divider {
  background-color: #EEEEEE;
  height: 1px;
  margin: 5px 10px;
  overflow: hidden;
}
div.epmliveToolBar .caret {
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid;
  display: inline-block;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  width: 0;
}
div.epmliveToolBar b,
div.epmliveToolBar strong {
  font-weight: bold;
}
div.epmliveToolBar .dropdown-header {
  color: #999999;
  display: block;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.42857;
  padding: 3px 20px;
}
div.epmliveToolBar .grouping-dropdown-menu .grouping-wrapper {
  display: inline-block;
  padding: 8px 15px 0;
  width: 100%;
}
div.epmliveToolBar .grouping-row {
  display: inline-block;
  margin-bottom: 5px;
  width: 100%;
}
div.epmliveToolBar .grouping-number {
  float: left;
  padding-right: 13px;
  padding-top: 7px;
}
div.epmliveToolBar .grouping-select {
  float: left;
  padding-right: 7px;
  width: 83%;
}
div.epmliveToolBar .form-control {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  color: #444444;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 5px;
  -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  width: 100%;
}
div.epmliveToolBar .grouping-delete {
  cursor: pointer;
  float: right;
  padding-top: 7px;
}
div.epmliveToolBar .navbar-nav.navbar-right:last-child {
  margin-right: -15px;
}
div.epmliveToolBar .navbar-right {
  float: right !important;
}
div.epmliveToolBar .toolbar-search {
  border: medium none !important;
  cursor: pointer;
  margin-left: 0;
  outline: medium none;
  padding-top: 10px !important;
  position: absolute;
  -moz-transition: all 0.25s ease-out 0s;
  -o-transition: all 0.25s ease-out 0s;
  -webkit-transition: all 0.25s ease-out 0s;
  transition: all 0.25s ease-out 0s;
  z-index: 0;
}
div.epmliveToolBar .navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
div.epmliveToolBar .grouping-dropdown-menu {
  padding-bottom: 12px;
  padding-top: 5px;
  width: 250px;
}
div.epmliveToolBar .grouping-dropdown-menu ul {
  padding: 0;
}
div.epmliveToolBar .grouping-footer ul {
  padding-bottom: 5px !important;
}
div.epmliveToolBar .grouping-add {
  float: left;
  padding-left: 12px;
}
div.epmliveToolBar .grouping-save,
div.epmliveToolBar .grouping-apply {
  float: right;
  padding-right: 12px;
  padding-bottom: 5px;
  padding-top: 3px;
}
div.epmliveToolBar .grouping-delete span {
  font-size: 1.2em;
  padding: 0;
}
div.epmliveToolBar .grouping-footer a {
  font-size: 1.1em;
  font-weight: 400;
}
div.epmliveToolBar .multiselect-all {
  border-bottom: 1px solid #eeeeee;
}
div.epmliveToolBar .multiselect-container > li > a.multiselect-all label {
  font-weight: bold;
}
div.epmliveToolBar .multiselect-container > li > a > label,
div.epmliveToolBar .multiselect-container > div > li > a > label {
  margin: 0;
  height: 100%;
  cursor: pointer;
  font-weight: normal;
}
div.epmliveToolBar .radio,
div.epmliveToolBar .checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle;
}
div.epmliveToolBar .multiselect-container > li > a > label.radio,
div.epmliveToolBar .multiselect-container > li > a > label.checkbox,
div.epmliveToolBar .multiselect-container > div > li > a > label.radio,
div.epmliveToolBar .multiselect-container > div > li > a > label.checkbox {
  margin: 0;
}
div.epmliveToolBar .multiselect-container > li > a > label > input[type="checkbox"],
div.epmliveToolBar .multiselect-container > div > li > a > label > input[type="checkbox"] {
  margin-bottom: 5px;
}
div.epmliveToolBar .radio input[type="radio"],
div.epmliveToolBar .radio-inline input[type="radio"],
div.epmliveToolBar .checkbox input[type="checkbox"],
div.epmliveToolBar .checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
div.epmliveToolBar input[type="radio"],
div.epmliveToolBar input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
div.epmliveToolBar input,
div.epmliveToolBar button,
div.epmliveToolBar select,
div.epmliveToolBar textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
div.epmliveToolBar .multiselect-container {
  position: absolute;
  min-width: 250px;
  list-style-type: none;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
div.epmliveToolBar #toolbar-search-icon {
  float: right;
  background-color: #ffffff;
}
div.epmliveToolBar .nav > li > a:hover,
div.epmliveToolBar .nav > li > a:focus {
  text-decoration: none;
  background-color: #ffffff;
  color: #444;
}
div.epmliveToolBar .dropdown-menu .dropdown-header:not(:first-child) {
  padding-top: 10px;
}
div.epmliveToolBar .disabledLink,
div.epmliveToolBar .disabledLink:hover {
  color: #999999 !important;
  background-color: #ffffff !important;
  border-color: #dddddd !important;
  cursor: not-allowed !important;
}
/*# sourceMappingURL=epmliveToolBar.css.map */