body {
    font-family: Open Sans Regular !important;
}

h4 {
    font-family: Open Sans Regular !important;
}

.titleInput {
    padding: 2px 5px !important;
    background-color: rgba(255, 255, 255, 0.85) !important;
    border: 1px solid #ABABAB !important;
    color: #444444 !important;
    color: inherit !important;
    font-family: Open Sans Regular !important;
    font-size: 16px !important;
    vertical-align: middle !important;
    outline: none !important;
    height: 30px !important;
    width: 300px !important;
}


    .titleInput:hover {
        border-color: #92C0E0 !important;
    }

    .titleInput:focus {
        border-color: #92C0E0 !important;
    }


ol {
    padding: 10px;
    overflow: auto;
    list-style: none;
    margin: 0;
    width: 860px;
}

.modal-body {
    /*max-height: 400px;*/
    overflow-y: auto;
    /*padding: 15px;*/
    position: relative;
}

.modal-dialog {
    width: 860px;
    margin-left: -430px;
}

.template {
    float: left;
    vertical-align: top;
    margin: 0;
    padding: 10px;
    border: 1px solid white;
    -ms-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    width: 390px;
    height: 80px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: Open Sans Regular !important;
}


.template-preview {
    float: left;
    width: 48px;
    height: 48px;
    vertical-align: text-bottom;
}

.template-meta {
    padding-left: 60px;
}

.template-name {
    font-weight: bold;
    margin-top: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.template-description {
    height: 40px;
}


.template-selected {
    background-color: #e6eff8;
    border: 1px solid #ccd9ea;
    border-radius: 3px;
}


.modal-header {
    background-color: #f8f8f8;
}


.modal-footer {
    /*background-color: #f8f8f8;*/
    margin-top: 0px !important;
    height: 30px;
    padding: 20px 0px;
}

.toggle {
    background-color: #B6B6B6;
    width: 136px;
    height: 30px;
    color: #ffffff;
    font-weight: 600;
    z-index: 10;
    margin: 0 auto;
    margin-top: 10px;
}



.slider {
    background-color: #279FCA;
    width: 65px;
    height: 24px;
    top: 3px;
    left: 3px;
    position: relative;
    z-index: 20;
}

.slider-selected {
    cursor: default !important;
}

.toggle span {
    vertical-align: middle;
    margin-top: 5px;
    position: relative;
    z-index: 30;
    cursor: pointer;
}

#OuterContainer {
    overflow: hidden;
    float: left;
}

#onlineTemplates {
    overflow: hidden;
    float: left;
}

/*#localTemplates {
    display: none;
}*/

#templateContainer {
    margin-top: 15px;
    width: 860px;
    height: 220px;
    max-width: 860px;
    max-height: 220px;
}

.workspace-loading {
    background-color: #EAEAEA;
    width: 842px;
    height: 212px;
    border: 4px solid #D1D1D1;
}

.loading-message {
    color: #cccccc;
    font-size: 1.5em;
    font-family: Helvetica;
    width: 100%;
    height: 100%;
    padding-top: 85px;
    text-align: center;
}

#contentBox {
    margin-left: 10px !important;
}

.divTopSection {
    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 10px;
}

    .divTopSection span {
        vertical-align: middle;
    }

.divBottomSection {
    border-top: 1px solid #ffffff;
    width: 860px;
    height: 285px;
    overflow: hidden;
}

.divNoOnlineTempMsg {
    height: 50px;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    width: 240px;
}

.divNoLocalTempMsg {
    height: 50px;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    width: 230px;
}
