.EPMLiveStatusbar {
    border-style: solid;
    border-width: 1px 0;
    font-family: verdana;
    font-size: 1em;
    padding: 5px;
    overflow: hidden;
}

.EPMLiveStatus {
    margin-left: 5px;
    margin-right: 5px;
}

.EPMLiveStatus-left {
    float: left;
}

.EPMLiveStatus-right {
    float: right;
}

.EPMLiveStatus a, .EPMLiveStatus a:active, .EPMLiveStatus a:hover, .EPMLiveStatus a:link, .EPMLiveStatus a:visited {
    text-decoration: underline;
}