#fragments-wrapper {
    margin: 20px;
}

table.myfragments > tbody > tr:first-child > td:first-child {
    border-top: none !important;
}

table.myfragments > tbody > tr > td:first-child {
    padding-left: 10px !important;
}

.icon-wrapper a:last-child span {
    padding-right: 10px;
}

.table > tbody > tr > td {
    border-top: none !important;
}

#gridMyFragments {
    border-top: 1px solid #eeeeee !important;
}
#gridMyFragments a {
    text-decoration:none !important;
}

table.myfragments > tbody > tr > td {
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

table.row-select > tbody > tr:hover {
    cursor: pointer;
}

.modal-body {
    
}

.highlight {
    background-color: #eaeaea !important;
}

.modal-icon {
    top: 2px;
    position: relative;
    color: #cccccc;
    padding-right: 15px;
}

.icon-wrapper {
    visibility: hidden;
    position: relative;
    text-align: right;
}

.private {
    padding-left: 10px;
    color: #A8A8A8;
}

.manageFragmentContainer {
    width: 98%;
    font-family: "Open Sans Light", Helvetica, Arial, sans-serif;
    height: 300px;
    overflow: auto;
    color:#555555;
    font-size:14px;
}

#divIFLoading {
    top: 50%;
    left: 50%;
    z-index: 11;
    display: none;
    position: absolute;
}

.Buttons {
    bottom: 5px;
    position: fixed;
    text-align: right;
    width: 98%;
}
.modal-body .form-control  {
height:34px;
font-size:14px;
}
.form-control::-moz-placeholder {
    color: #cccccc;
    opacity: 1;
}
.form-control::-webkit-input-placeholder {
    color: #cccccc;
    opacity: 1;
}

.form-control:-ms-input-placeholder {  
    color: #cccccc;
    opacity: 1;
}