<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appSettings>
    <add key="IzendaLicenseKey" value="T365 Upland EPM +DASH +MAPS +LANG +FORMS +VISION +FUSION|Enterprise|6.8|09/29/2015|100|0|0|M|VIADJRZ" />
	  <add key="EPMLiveDB" value="server=2012templateSQL;database=EPMLIVEdebug;Trusted_Connection=True" />
  </appSettings>

  <connectionStrings >

  </connectionStrings>
  <system.web>

    <compilation debug="true">
    </compilation>

    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" />
    <customErrors mode="Off">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>

  </system.web>

</configuration>
