body
{
    margin: 0 !important;
    overflow: hidden !important;
    height: 100% !important;
}

.divRight
{
    padding-left: 5px;
    top: 10px;
    right: 10px;
    position: absolute;
    max-width: 186px;
    width: 186px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
}



.divSalesInfo
{
    top: 10px;
    right: 10px;
    position: absolute;
    max-width: 186px;
    width: 186px;
    text-overflow: ellipsis;
    text-align: left;
}

#OuterContainer
{
    overflow: hidden;
}

.divLeft
{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 158px;
    height: auto;
    background-color: #e9e9e9;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    border-right: 0.1em solid #dfdfdf;
}

.divCenter
{
    max-width: 478px;
    margin-top: 0px;
    margin-bottom: 0px !important;
    margin-right: 190px;
    margin-left: 155px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 555px;
}

.sameColorLink
{
    width: 150px;
    padding-left: 3px;
    border-bottom: transparent 1px solid;
    border-left: transparent 1px solid;
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    border-top: transparent 1px solid;
    margin-right: 5px;
    border-right: transparent 1px solid:;
    color: #0F69A5 !important;
    height: 1.5em;
}

.linkPanel li
{
    padding-right: 2px !important;
    margin-left: -35px !important;
}

.selectedLink
{
    font-weight: bold;
    background-color: White;
    color: #0F69A5 !important;
    border-bottom: 0.1em solid #dfdfdf;
    border-left: 0.1em solid #dfdfdf;
    border-top: 0.1em solid #dfdfdf;
}

.divTemplateHolder, .divOnlineTempHolder
{
    float: left;
    height: 100px;
    width: 100px;
    display: none;
    text-align: center;
    padding-top: 0.5em;
    cursor: default;
    overflow: hidden;
}

.divTemplateTitle, .divOnlineTempTitle
{
    vertical-align: bottom;
    overflow: hidden;
}

.templateImage
{
    vertical-align: top;
}

.divTemplatesHolder, .divOnlineTempsHolder, .divMoreOptContainer, divExistingWorkspaceContainer
{
    margin-bottom: 10px;
}

.divTemplatesHolder, .divOnlineTempsHolder, .divSolGalTempsHolder
{
    padding-top: 10px;
}

.titleBrowseFrom, .titleFilterBy, .titleWorkspaceType, .titleCreateNewWorkspaceFrom
{
    font-size: 1.2em;
    height: 1.5em;
    background-color: #5D7082;
    color: White;
    padding-left: 5px;
    border-right: 0.1em solid #5D7082;
}

.ulFilterBy, .ulWorkspaceType, .ulCreateNewWorkspaceFrom
{
    list-style: none;
}

.txtTemplateTitle, .txtTemplateType, .txtTemplateCategory, .txtDescription, .txtExistingWorkspaceHeading
{
    max-width: 180px;
    overflow: hidden;
    cursor: default;
}

.tbNewWorkSpaceName
{
    width: 174px !important;
}

.salesInfo
{
    width: 200px;
    max-height: 550px;
    cursor: default;
}

.txtTemplateTitle, .txtExistingWorkspaceHeading, #spanWorkspaceTitle
{
    color: #0072BC;
    font-size: 1.2em;
    max-height: 5em;
}

.txtAvailableTemplates
{
    color: #0072BC;
    font-size: 1em;
    height: 1.5em;
}

.txtTemplateType, .txtTemplateCategory, txtExistingWorkspaceUrl
{
    min-height: 1.5em;
    max-height: 5em;
    overflow-y: auto;
    word-wrap: break-word;
    cursor: default;
}

.txtTemplateType, .txtTemplateCategory
{
    display: none !important;
}

.txtExistingWorkspaceUrl
{
    max-width: 180px;
    text-overflow: ellipsis;
    overflow-y: hidden;
}

.txtDescription
{
    min-height: 1.5em;
    max-height: 25em;
    word-wrap: break-word;
    overflow: auto;
}

.divDivider
{
    height: 1em;
}

.divBtnDivider
{
    height: 1em;
}

#divLoad_CreateWorkspace
{
    margin-top: 250px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    color: #0F69A5 !important;
}

#div_loading_msg
{
    color: #0F69A5 !important;
    font-family: Verdana,sans-serif;
    font-size: 1.1em;
    line-height: 20px;
    margin-left: 145px;
    margin-top: 20px;
    text-align: center;
    width: 500px !important;
}

#divLoad_LoadingOnlineTemps
{
    margin-top: 250px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    color: #0F69A5 !important;
}

#rightPnlCreateLink
{
    background-image: url('Create.png');
    display: block;
    height: 20px;
    width: 49px;
}

#rightPnlMoreLessOptLink
{
    float: left;
    background-image: url('moreoptions.png');
    display: block;
    height: 20px;
    width: 79px;
}

.hoverLink
{
    /*     background-color: White;     border-bottom: 0.1em solid #dfdfdf;     border-left: 0.1em solid #dfdfdf;     border-top: 0.1em solid #dfdfdf;     */
    color: #44AFF6 !important;
    text-decoration: underline !important;
}

.selectedTemp
{
    background-color: #97D5FC !important;
    background: url("selbg-6B8E0DB5.png?ctag") repeat-x scroll left top #97D5FC; /*border-color: #91C5E4;     border-style: solid;     border-width: 1px;*/
    border: 1px solid #99CCEE;
    cursor: default;
    overflow: hidden;
}

.highLightTemplate
{
    background-color: #99FFEE;
    border: 1px solid #99CCEE;
    cursor: default;
}

.rightDivBtnCreate, .rightDivBtnMoreLessOpt, .rightDivBtnMoreInfo
{
    width: auto !important;
    
    float: left;
}

.rightDivBtnCreate {
    margin-left: 0px !important;
}
.rightDivBtnMoreInfo
{
    display: none !important;
}

.templateImage
{
    max-width: 65px;
    width: 65px;
    max-height: 65px;
    height: 65px;
}

.imgTemplateIcon
{
    text-align: center;
}

.inputSearch
{
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 4px;
    width: 175px;
    
}

.search-query 
{
    border-radius: 14px 14px 14px 14px;
    margin-bottom: 0;
    padding-left: 14px;
    padding-right: 14px;
    
}

.inputSearch:focus
{
border-color: rgba(82, 168, 236, 0.8);
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
outline: 0;
outline: thin dotted 9;
}


.btn {
  display: inline-block;
  padding: 3px 13px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
 background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.btn:hover
{
background-color: #E6E6E6;
background-position: 0 -15px;
color:#333333;
text-decoration: none;
-moz-transition: background-position 0.1s linear 0s;
}


.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active, .btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}

