<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title></title>
	</head>
	<body>
    <!--place content here to be used in divEmptyGalleryHTML-->
        <div id="placeHolderContent">
            
            <p>There are no available templates in your Local Gallery.</p>

            <p>To add templates to your Local Gallery, please follow the steps below:</p>
            
            <ul style="list-style:none">
                <li>1. Click the Template Gallery link from within the WorkEngine Administration section of Site Settings.</li>
                <li>2. Add new templates to the List.</li>
                <li>3. If your Site Collection is not set up to use Live Templates (check your setting <a id="linkSettings" target="_blank">here</a>), you need to save all templates by browsing to the template site and clicking the Save Template link. </li>
            </ul>
            
            <p>Once templates have been added to your Local Gallery, they will show up on this screen.</p>
        
        </div>
    <!--end of place holder content-->
	</body>
</html>
