.autocomplete
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C0C0C0;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    list-style: none outside none;
    margin: 0;
    width: 100px;
    position: absolute;
    max-height: 200px;
    overflow: auto;
    z-index: 1;
}

.autoText
{
    line-height: 20px;
    font: 10pt Lucida Grande,Verdana,Arial,sans-serif !important;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 3px;
    color: #666666;
}

.autoTextOnHover
{
    color: White;
    background-color: rgb(0, 136, 204);
    cursor: pointer;
}

.disabledImg
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.disabledTb
{
    border-color: #eee;
}
