body {
background-color:#0090CA;
font-family:Open Sans;
}

label {
    color: #606060;
    font-size: 0.9em;
    margin-top: -2px;
    padding-left: 5px;
    position: relative;
    top: -2px;
}

#login-wrapper {
	margin-left: auto;
    margin-right: auto;
    position:relative;
	height: 425px;
	width: 880px;
	top:100px;
	display: block;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);	
}

#ad-text-wrapper {
	background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    height: 200px;
    margin-left: 130px;
    margin-top: -305px;
    opacity: 0.9;
    position: absolute;
	text-align:center;
}

#ad-text {
padding:15px;
color:#555555;
line-height: 27px;
}

#ad-text-box span {
	color:#555555;
	font-size:18px;
	padding:15px;
}

#login-ad-content img {
margin-right:10px;
margin-top:12px;
border-radius: 5px 5px 5px 5px;
}


#login-ad-content {
	width:480px;
	height: 425px;
}

#login-ad-main {
	background-color:#ffffff;
	float:right;
	height: 425px;
	border-radius: 0px 3px 3px 0px;
 }

#login-main {
border-radius: 3px 0px 0px 3px;
    background-color: #ffffff;
    /*border: 2px solid #269BC9;*/ 
    text-align: center;
    width: 400px;
	float:left;
	height: 425px;
}

#login-logo {
    margin-top: 20px;
    width: 250px;
}

.input-img {
border: 2px solid #DDDDDD;
transition: all 0.4s ease-out 0s;
background-color: #F0F0F0;
border-bottom: 2px solid #DDDDDD;
border-left: 2px solid #DDDDDD;
border-radius: 3px 0 0 3px !important;
border-right: medium none !important;
border-top: 2px solid #DDDDDD;
display: inline-block;
float: left;
height: 50px;
left: 32px;
margin-top: 15px;
position: relative;
width: 60px;
line-height:42px;
}

.placeholder { 
font-family:Open Sans !important;
color:#C9C9C9 !important;
font-size: 22px !important;
}

.password-img {
margin-top:10px;
}

.password-input {
margin-top:10px;
left: -2px;
}

.username-img  span{
transition: all 0.4s ease-out 0s;
color:#9E9E9E;
font-size:2.3em;
position: relative;
top:7px;
left:-2px;
}

.ie9 .username-img  span{
top:6px;
}

.password-img  span{
transition: all 0.4s ease-out 0s;
color:#9E9E9E;
font-size:2.0em;
position: relative;
top:7px;
left:-1px;
}

.ie9 .password-img  span{
top:3px;
}

.username-input {
margin-top: 15px; 
left: -2px; 
border: 2px solid rgb(221, 221, 221);
}

input[type="text"], input[type="email"], input[type="password"] {
    border: 2px solid #DDDDDD;
    border-radius: 0 3px 3px 0;
    font-size: 25px;
    height: 45px;
    line-height: normal;
    outline: medium none;
    overflow: hidden;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-top: 3px;
    position: relative;
    transition: all 0.4s ease-out 0s;
    width: 66%;
}

#login-content {
width:100%;
}

.login-button {
margin-top:10px;
font-size:16px;
cursor:pointer;
background: none repeat scroll 0 0 #0090CA;
border: 1px solid transparent;
border-radius: 5px 5px 5px 5px;
color: #FFFFFF;
cursor: pointer;
display: block;
font-size: 1.5em;
font-weight: 400;
margin: 10px auto;
overflow: hidden;
padding-bottom: 10px;
padding-top: 10px;
position: relative;
text-align: center;
text-decoration: none;
top: 0;
width: 84%;
}

.login-button:hover {
background-color:#0083B7 !important;
}

#footer-content {
margin-top:10px;
}

#footer-content a {
color: #0072C6;
font-family:Open Sans;
text-decoration: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:#C9C9C9;
	font-size: 22px;
	padding-top:2px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#9B9B9B;
	font-size: 22px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#9B9B9B;
	font-size: 22px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#9B9B9B;
	font-size: 22px;
}

.ie8 #Username {
  line-height: 43px !important;
}

.ie8 #Password  {
  line-height: 43px !important;
}


.ie8 .login-button {
padding-top:10px !important;
padding-bottom:10px !important;
}


span.callout {
	height: 80px;
	width: 200px;
	float: left;
}

span.callout {
	background-color: #444;
	background-image: -moz-linear-gradient(top, #444, #444);
	position: absolute;
	color: #ccc;
	padding: 10px;
	border-radius: 3px;
	margin: 25px;
	min-height: 50px;
	border: 1px solid #333;
	text-shadow: 0 0 1px #000;
	font-family:Open Sans;
  	display:none;
	z-index:1000;
	font-size:15px;
	text-align:center;
	/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}

.callout::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
}

.callout.left::before {
	right: -20px;
	top: 40%;
	border-left: 10px solid #444;
}

.button {
  font-family:Open Sans;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.button:hover,
.button:focus {
  color: #333333;
  text-decoration: none;
}

.button:active,
.button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* had to add because it seemed Firefox didn't align the text correctly */
@-moz-document url-prefix() {
  .button-xs {
    padding: 1px 5px 1px;
   }
    .button-sm {
        padding-bottom: 5px;
        
    }
	.button-reg {
    padding-bottom:8px;
}
}

.button-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.button-success:hover,
.button-success:focus,
.button-success:active,
.button-success.active,
.open .dropdown-toggle.button-success {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}

.button-success:active,
.button-success.active,
.open .dropdown-toggle.button-success {
  background-image: none;
}

.button-success.disabled,
.button-success[disabled],
fieldset[disabled] .button-success,
.button-success.disabled:hover,
.button-success[disabled]:hover,
fieldset[disabled] .button-success:hover,
.button-success.disabled:focus,
.button-success[disabled]:focus,
fieldset[disabled] .button-success:focus,
.button-success.disabled:active,
.button-success[disabled]:active,
fieldset[disabled] .button-success:active,
.button-success.disabled.active,
.button-success[disabled].active,
fieldset[disabled] .button-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}


@media screen and (max-width: 880px) {
    #login-ad-main {
		display:none;
	}
	#login-wrapper {
		width:400px;
	}
	#login-main {
		border-radius: 3px 3px 3px 3px;
	}
}

@media screen and (max-width: 480px) {
	#login-ad-main {
		display:none;
	}
	#login-wrapper {
		width:300px;
		top:10px;
	}
	#login-main {
		border-radius: 3px 3px 3px 3px;
		width:300px;
	}
	.input-img {
		display:none;
	}
	input[type="text"], input[type="email"], input[type="password"] {
		border-radius:6px 6px 6px 6px;
	}
	.login-button {
		width:75%;
	}
	
}


