/*myworkspace*/
div.gridbox_myworkspace {
  border:none;
  /*1px solid  #D6D6D6;*/
}
div.gridbox_myworkspace .dhx_sub_row
{
	background-color:transparent;
}
div.gridbox_myworkspace .xhdr{
	
}
div.gridbox_myworkspace .xhdr_last{
	border: 1px solid;
	border-color : #FDFDFD #B5B5B5 #B5B5B5 #FDFDFD;
}
div.gridbox_myworkspace table.hdr{
	
}

div.gridbox_myworkspace table.hdr td {
	font-family:Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 1.2;
	color: black;
	vertical-align:top;
	text-align:left;
}
div.gridbox_myworkspace table.hdr td div.hdrcell{
	width:auto;
	padding-left:4px;
}
div.gridbox_myworkspace table.hdr .filter{
	padding-left:0px !important;
	text-align:center;
}
div.gridbox_myworkspace table.obj td {
	border: 0px solid;
	font-family:Tahoma;
	font-size:11px;
	padding-right:4px;
	padding-left:4px;
}

div.gridbox_myworkspace table.obj td span 
{
    padding-left:4px;
}
div.gridbox_myworkspace table.row20px tr td {
	padding-right:4px;
	padding-left:4px;
}
div.gridbox_myworkspace .dhx_combo_edit{
  font-family:Tahoma;
	font-size:11px;
}
div.gridbox_myworkspace table.obj tr.rowselected td{
	/*background-color:#9ac2e5;*/
	color:black;
	}
div.gridbox_myworkspace table.obj tr.rowselected td.cellselected, div.gridbox table.obj td.cellselected {
	background-color:white;
	}
div.gridbox_myworkspace .odd_myworkspace{
	background-color:#EDEDED;
}
div.gridbox_myworkspace div.ftr td {
		padding:0px;
		padding-left:10px;
		padding-right:5px;
		border-top:0px solid gray;
		border-right:0px solid gray;
		background-color:#ffffcc;
		font-style : italic;
		font-family:arial;
		font-size:12px;
	}

DIV.gridbox_myworkspace TABLE.obj TD
{
	
}

DIV.gridbox_myworkspace TABLE.obj TD a:link, DIV.gridbox_myworkspace TABLE.obj TD a:visited, DIV.gridbox_myworkspace TABLE.obj TD a:active
{
    color: #0072BC !important;
}

DIV.gridbox_myworkspace TABLE.obj TD a:hover
{
    color: #800080 !important;
}