#suiteBar {
    height: 50px !important;
}

#suiteBarLeft, #suiteBarRight {
	background-color: #0090CA;
}

#DeltaSuiteBarRight {
	line-height: 50px;
}

.ms-welcome-root > a.ms-core-menu-root, .ms-signInLink {
	color: #FFFFFF;
}

.ms-welcome-hover, .ms-siteactions-hover {
	background-color: #4B89B2 !important;
	border-right-color: #4B89B2 !important;
}

a.ms-core-menu-root {
    padding: 0 !important;
}

#siteIcon {
    height: 100% !important;
    line-height: 100% !important;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left: 10px;
    margin-right: 45px;
}

.left-block {
	display: inline-block;
}

.table-cell-div {
	display: inline-block;
}

#site-title, #page-title {
	height: 39px;
	line-height: 39px;
}

#site-title:after {
	content: '-';
}

#site-title, .ms-core-pageTitle {
	color: #FFFFFF;
    font-size: 1.6em !important;
    font-family: 'Open Sans Light', Arial;
}

#contentBox {
    margin-left: 20px;
}

#s4-titlerow {
    display: none !important;
}

.ms-core-pageTitle, .ms-core-pageTitle a {
    color: #ffffff !important;
}

#s4-workspace {
    width: auto !important;
}