#suiteBar {
    height: 50px !important;
}

#suiteBarLeft, #suiteBarRight {
	background-color: #0090CA;
}

#DeltaSuiteBarRight {
	line-height: 50px;
}

.ms-welcome-root {
    padding: 0 !important;
    border: none;
}

.ms-welcome-root > a.ms-core-menu-root, .ms-signInLink {
	color: #FFFFFF;
    font-family: Open Sans Regular,arial;
    font-size: 1.1em;
}

.ms-welcome-hover, .ms-siteactions-hover {
	background-color: #0090CA !important;
	border-right-color: #0090CA !important;
}

a.ms-core-menu-root {
    padding: 0 !important;
}

#siteIcon {
    height: 100% !important;
    line-height: 100% !important;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left: 10px;
    margin-right: 45px;
}

.left-block {
	display: inline-block;
}

.table-cell-div {
	display: inline-block;
}

#site-title, #page-title {
	height: 39px;
	line-height: 39px;
}

#site-title:after {
	content: '-';
}

#site-title, .ms-core-pageTitle {
	color: #FFFFFF;
    font-size: 1.6em !important;
    font-family: 'Open Sans Regular', Arial;
}

#contentBox {
    margin-left: 20px;
}

#s4-titlerow {
    display: none !important;
}

#page-title a {
    color: #ffffff !important;
}

#s4-workspace {
    width: auto !important;
}

#welcomeMenuBox {
    height: 100%;
    padding-right: 10px;
}

span.ms-core-menu-arrow > img {
    display: none;
}

span.ms-welcome-root > span.ms-core-menu-arrow,
span.ms-welcome-hover > span.ms-core-menu-arrow {
    font-family: 'Flat-UI-Icons';
    -webkit-speak: none;
    -moz-speak: none;
    -ms-speak: none;
    -o-speak: none;
    speak: none;
    font-style: normal;
    font-weight: normal;
    -webkit-font-variant: normal;
    -moz-font-variant: normal;
    -ms-font-variant: normal;
    -o-font-variant: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    height: 100% !important;
    color: #ffffff;
    font-size: 0.75em;
    width: 10px !important;
    margin-left: 5px;
    cursor: pointer;
    cursor: hand;
}

.epm-global-button-right {
    display: inline-block;
    font-size: 1.9em;
    height: 38px;
    line-height: 38px;
    margin-right: 15px;
    position: relative;
    top: 6px;
}

.epm-global-button-right a {
    color: #00668E;
    -ms-text-shadow: 0 1px 0 #00A9ED;
    -webkit-text-shadow: 0 1px 0 #00A9ED;
    text-shadow: 0 1px 0 #00A9ED;
    -webkit-transition: color 0.2s ease 0s;
    -moz-transition: color 0.2s ease 0s;
    -ms-transition: color 0.2s ease 0s;
    -o-transition: color 0.2s ease 0s;
    transition: color 0.2s ease 0s;
}

.epm-global-button-right a:hover {
    color: #FFFFFF !important;
}

#search-box-container {
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    color: inherit;
    font-family: "Open Sans Regular",Arial,sans-serif;
    font-size: 13px;
    height: 20px;
    outline: medium none;
    padding: 2px 5px;
    position: relative;
    right: -10px;
    top: -2px;
    vertical-align: middle;
    width: 220px;
}

#search-box-container .ms-srch-sb-searchLink {
    display: none;
}

#search-box-container .ms-srch-sb {
    background-color: #FFFFFF;
    height: 20px;
    width: 220px;
}

#search-box-container .ms-srch-sb-border {
    border: medium none;
}

#search-box-container .ms-srch-sb-borderFocused {
    border: medium none !important;
}

#search-box-container #SearchBox {
    height: 20px;
    line-height: 20px;
}

#search-box-container #SearchBox input {
    height: 20px;
    margin: 0;
    position: relative;
    top: -2px;
    width: 210px;
}

#walkme-menu-closed {
    position: absolute;
    right: 50px !important;
}

/*.ms-trcnoti-border {
    background-color: #6abd3d !important;
    color: white !important;
}*/

.ms-promotedActionButton, #fullscreenmodebox {
    display: none !important;
}

/*
Document   : jquery.pnotify.default.css
Created on : Nov 23, 2009, 3:14:10 PM
Author     : Hunter Perrin
Version    : 1.2.0
Link       : http://pinesframework.org/pnotify/
Description:
	Default styling for Pines Notify jQuery plugin.
*/
/* -- Notice */
.ui-pnotify {
top: 25px;
right: 25px;
position: absolute;
height: auto;
/* Ensures notices are above everything */
z-index: 9999;
}
/* Hides position: fixed from IE6 */
html > body .ui-pnotify {
position: fixed;
}
.ui-pnotify .ui-pnotify-shadow {
-webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
-moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
}
.ui-pnotify-container {
background-position: 0 0;
padding: .8em;
height: 100%;
margin: 0;
}
.ui-pnotify-sharp {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.ui-pnotify-closer, .ui-pnotify-sticker {
float: right;
margin-left: .2em;
}
.ui-pnotify-title {
display: block;
margin-bottom: .4em;
}
.ui-pnotify-text {
display: block;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
display: block;
float: left;
margin-right: .2em;
}
/* -- History Pulldown */
.ui-pnotify-history-container {
position: absolute;
top: 0;
right: 18px;
width: 70px;
border-top: none;
padding: 0;
-webkit-border-top-left-radius: 0;
-moz-border-top-left-radius: 0;
border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-moz-border-top-right-radius: 0;
border-top-right-radius: 0;
/* Ensures history container is above notices. */
z-index: 10000;
}
.ui-pnotify-history-container .ui-pnotify-history-header {
padding: 2px;
}
.ui-pnotify-history-container button {
cursor: pointer;
display: block;
width: 100%;
}
.ui-pnotify-history-container .ui-pnotify-history-pulldown {
display: block;
margin: 0 auto;
}

/*
Document   : jquery.pnotify.default.icons.css
Created on : Nov 24, 2009, 2:58:21 PM
Author     : Hunter Perrin
Version    : 1.2.0
Link       : http://pinesframework.org/pnotify/
Description:
	Pines Icon styling for Pines Notify.
*/

.ui-pnotify .picon {
background-color: transparent;
background-repeat: no-repeat;
background-position: center center;
width: 17px;
height: 17px;
}
.ui-pnotify-title {
line-height: 17px;
min-height: 17px;
}

/*MODIFICATION ON OTHER CSS LIBRARIES*/
/*Modification on jQuery-UI.css*/
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em !important;
}