
.epmliveButton
{
    min-width: 45px;
    padding: 7px 10px;
    border: 1px solid #ABABAB;
    background-color: #FDFDFD;
    background-color: #FDFDFD;
    font-family: "Segoe UI" , "Segoe" ,Tahoma,Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #444;
}

.epmliveButton-disabled
{
    background-color: #FDFDFD !important;
    border-color: #E1E1E1 !important;
    color: #B1B1B1 !important;
    cursor: default !important;
}

.epmliveButton:hover
{
    border-color: #92C0E0;
    background-color: #E6F2FA;
    cursor: pointer;
}

.epmliveButton:active
{
    border-color: #2A8DD4;
    background-color: #92C0E0;
    cursor: pointer;
}

.epmliveButton-emphasize
{
    border-color: #0067B0 !important;
    background-color: #0072C6 !important;
    color: white !important;
}

.epmliveButton-emphasize:hover
{
    background-color: #0067B0 !important;
    border-color: #004D85 !important;
}

.epmliveButtonDisabled
{
    background-color: #FDFDFD;
    border-color: #E1E1E1;
    color: #B1B1B1;
    cursor: default;
    min-width: 45px;
    padding: 7px 10px;
    border: 1px solid #ABABAB;
    margin-left: 10px;
    font-family: "Segoe UI" , "Segoe" ,Tahoma,Helvetica,Arial,sans-serif;
    font-size: 12px;
    border-color: #E1E1E1;
}