.commentsWPMainContainer
{
    overflow:hidden;
    /*max-width: 500px;*/
    padding-right:10px;
}

.COuterContainer
{
    padding: 5px;
    width: 510px;
    height: 500px;
    background-color: rgb(204, 204, 204);
}

.CItemContainer
{
    width: 500px;
    background-color: rgb(102, 153, 255);
    float: right;
    border: 1px solid rgb(153, 153, 153);
    padding: 5px;
}

.CItemPicture
{
    float: left;
    width: 64px;
    height: 64px;
    background-color: rgb(255, 255, 255);
}

.CSubItemPicture
{
    float: left;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.CItemInfoContainer
{
    height: 64px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin-left: 10px;
}

.CSubItemInfoContainer
{
    background-color: rgb(255, 255, 255);
    float: left;
    margin-left: 10px;
}

.CItemUserName
{
    height: 22px;
    float: right;
    background-color: green;
    width: 425px;
}

.CSubItemUserName
{
    height: 18px;
    float: right;
    background-color: green;
    width: 360px;
}

.CItemComment
{
    height: 21px;
    float: right;
    background-color: orange;
    width: 425px;
}

.CSubItemComment
{
    height: 18px;
    float: right;
    background-color: orange;
    width: 360px;
}

.CItemOptions
{
    height: 21px;
    float: right;
    background-color: rgb(102, 221, 255);
    width: 425px;
}

.CSubItemOptions
{
    height: 18px;
    float: right;
    background-color: rgb(102, 221, 255);
    width: 360px;
}

.CClearDiv
{
    clear: both;
}

.CShowAllItems
{
    height: 30px;
    float: right;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(153, 153, 153);
    width: 430px;
}

.CSubItemContainer
{
    background-color: #CCCCFF;
    border: 1px solid #999999;
    float: right;
    padding: 5px;
    width: 420px;
}

.divGeneralComment 
{
    width: auto;
    height: 20px;
}

.epmliveinput
{
    padding: 2px 5px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #ABABAB;
    color: #444444;
    color: inherit;
    font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size:13px;
    vertical-align: middle;
    outline: none;
     resize: none;
    
}

.epmliveinput:hover
{
    border-color:#92C0E0;
}

.epmliveinput:focus
{
border-color:#2A8DD4;
}


.epmliveButton
{
    min-width: 6em;
    padding: 7px 10px;
    border: 1px solid #ABABAB;
    background-color: #FDFDFD;
    background-color: #FDFDFD;    
    font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #444;
}

.epmliveButton-disabled
{
background-color: #FDFDFD !important;
    border-color: #E1E1E1 !important;
    color: #B1B1B1 !important;
    cursor:default !important;
}

.epmliveButton:hover
{
border-color: #92C0E0;
background-color: #E6F2FA;
    cursor:pointer;
}

.epmliveButton:active
{
border-color: #2A8DD4;
background-color: #92C0E0;
cursor:pointer;
}

.epmliveButton-emphasize
{
border-color: #0067B0 !important;
background-color: #0072C6 !important;
color: white !important;
}

.epmliveButton-emphasize:hover
{
background-color: #0067B0 !important;
    border-color: #004D85 !important;
}


.epmliveButtonDisabled
{
    background-color: #FDFDFD;
    border-color: #E1E1E1;
    color: #B1B1B1;
    cursor:default;
    min-width: 6em;
    padding: 7px 10px;
    border: 1px solid #ABABAB;
    margin-left: 10px;
    font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 11px;
    border-color: #E1E1E1;        
}
