body {
}

.callout {
    -moz-border-radius: 3px 3px 3px 3px !important;
    -webkit-border-radius: 3px 3px 3px 3px !important;
    background-color: #FAFAFA !important;
    border-bottom: 1px solid #cccccc !important;
    border-radius: 3px 3px 3px 3px !important;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 5px;
    position: relative;
}

    .callout .notch {
        border-top-color: #fafafa;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: #fafafa !important;
        border-style: none solid solid;
        border-width: 0 6px 6px;
        font-size: 0;
        height: 0;
        left: 20px;
        line-height: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        top: -6px;
        width: 0;
    }

.inputSearch {
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    min-height: 25px;
    line-height: 15px;
    padding: 3px 4px;
    width: 175px;
}

    .inputSearch p {
        margin: 0;
    }

.border-callout {
    border-left: 1px solid #CCCCCC !important;
    border-right: 1px solid #CCCCCC !important;
    border-top: 1px solid #CCCCCC !important;
    padding-bottom: 5px;
}

    .border-callout .border-notch {
        border-bottom-color: #000 !important;
        top: -6px;
    }

.commentsWPMainContainer a:visited {
    color: #0072bc;
}


.commentsWPMainContainer a:hover {
    text-decoration: none;
}

.newCommentReply {
    font-size:12px;
}

.commentsWPMainContainer {
    overflow: hidden;
    /*max-width: 500px;*/
    padding-right: 10px;
}

.COuterContainer {
    padding: 5px;
    width: 510px;
    height: 500px;
    background-color: rgb(204, 204, 204);
}

.CItemContainer {
    width: 500px;
    background-color: rgb(102, 153, 255);
    float: right;
    border: 1px solid rgb(153, 153, 153);
    padding: 5px;
}

.CItemPicture {
    float: left;
    width: 64px;
    height: 64px;
    background-color: rgb(255, 255, 255);
}

.CSubItemPicture {
    float: left;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.CItemInfoContainer {
    height: 64px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin-left: 10px;
}

.CSubItemInfoContainer {
    background-color: rgb(255, 255, 255);
    float: left;
    margin-left: 10px;
}

.CItemUserName {
    height: 22px;
    float: right;
    background-color: green;
    width: 425px;
}

.CSubItemUserName {
    height: 18px;
    float: right;
    background-color: green;
    width: 360px;
}

.CItemComment {
    height: 21px;
    float: right;
    background-color: orange;
    width: 425px;
}

.CSubItemComment {
    height: 18px;
    float: right;
    background-color: orange;
    width: 360px;
}

.CItemOptions {
    height: 21px;
    float: right;
    background-color: rgb(102, 221, 255);
    width: 425px;
}

.CSubItemOptions {
    height: 18px;
    float: right;
    background-color: rgb(102, 221, 255);
    width: 360px;
}

.CClearDiv {
    clear: both;
}

.CShowAllItems {
    height: 30px;
    float: right;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(153, 153, 153);
    width: 430px;
}

.CSubItemContainer {
    background-color: #CCCCFF;
    border: 1px solid #999999;
    float: right;
    padding: 5px;
    width: 420px;
}

.commentLoader {
    background: url('/_layouts/15/epmlive/images/progress_ring.gif') no-repeat scroll center center transparent;
    height: 50px;
    width: 100%;
}

.subitem {
    background-color: #fafafa !important;
    border-bottom: 0px !important;
    padding: 3px;
}

.commentDivider {
    height: 12px;
    border-bottom: solid 2px #ccc;
}

.workingNewComment {
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #FAFAFA;
    padding-top: 10px;
    padding-bottom: 10px;
}

.epmliveinput {
    padding: 2px 5px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #ABABAB;
    color: #444444;
    color: inherit;
    vertical-align: middle;
    outline: none;
    resize: none;
    font-family: "Open sans Regular","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
    font-size: 8pt !important;
    min-height: 0px !important;
}

    .epmliveinput:hover {
        border-color: #92C0E0;
    }

    .epmliveinput:focus {
        border-color: #2A8DD4;
    }

.tbComment {
    line-height: 25px;
    border: 1px solid #cccccc !important;
    min-height: 25px !important;
    border-radius: 3px 3px 3px 3px;
    margin-left:2px;
}

.general-button-wrapper {
    display: inline-block;
    vertical-align: top;
    padding-top:11px;
}

.reply-button-wrapper {
    float: left;
    height: 25px;
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 5px;
}

.epmliveButton {
    min-width: 6em;
    padding: 7px 10px;
    border: 1px solid #ABABAB;
    background-color: #FDFDFD;
    background-color: #FDFDFD;
    font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #444;
    margin-left: 0px !important;
    padding: 4px 5px 5px !important;
    border-radius: 3px;
}

.epmliveButton-disabled {
    background-color: #FDFDFD !important;
    border-color: #E1E1E1 !important;
    color: #B1B1B1 !important;
    cursor: default !important;
}

.epmliveButton:hover {
    border-color: #92C0E0;
    background-color: #E6F2FA;
    cursor: pointer;
}

.epmliveButton:active {
    border-color: #2A8DD4;
    background-color: #92C0E0;
    cursor: pointer;
}

.epmliveButton-emphasize {
    border-color: #0067B0 !important;
    background-color: #0072C6 !important;
    color: white !important;
}

    .epmliveButton-emphasize:hover {
        background-color: #0067B0 !important;
        border-color: #004D85 !important;
    }


.epmliveButtonDisabled {
    background-color: #FDFDFD;
    border-color: #E1E1E1;
    color: #B1B1B1;
    cursor: default;
    min-width: 6em;
    padding: 7px 10px;
    border: 1px solid #ABABAB;
    margin-left: 10px;
    font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 11px;
    border-color: #E1E1E1;
}


/* _lcid="1033" _version="14.0.4759"
    _LocalBinding */
.ms-SocialInputButtonHoverInactive {
    height: 100%;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    border-style: solid;
    border-color: transparent;
}

.ms-SocialInputButtonHoverActive {
    height: 100%;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    border-style: solid;
    border-color: #CCCCCC;
    background-image: url("/_layouts/images/SocialGradientWarm.png");
    background-repeat: repeat-x;
}

.ms-socialDataFrameContents {
    font-size: 8pt;
    font-family: verdana;
}

    .ms-socialDataFrameContents a:hover {
        text-decoration: underline;
    }

.ms-socialDataFrame a:link, .ms-socialDataFrame a:visited {
    color: #0070c0;
    text-decoration: none;
}

div.ms-TagCloud {
    line-height: 1.5;
    word-wrap: break-word;
    overflow: hidden;
}

.ms-TagCloud .spacer {
    margin-right: 1em;
}

.ms-TagCloud .rank1 {
    font-size: 100%;
}

.ms-TagCloud .rank2 {
    font-size: 125%;
}

.ms-TagCloud .rank3 {
    font-size: 150%;
}

.ms-TagCloud .rank4 {
    font-size: 175%;
}

.ms-TagCloud .rank5 {
    font-size: 200%;
}

.ms-TagCloud .rank6 {
    font-size: 225%;
}

.ms-TagCloud .rank7 {
    font-size: 250%;
}

.ms-TagCloud .rank8 {
    font-size: 275%;
}

.ms-TagCloud .rank9 {
    font-size: 300%;
}

div.ms-TagCloudLink a:link {
    /* [ReplaceColor(themeColor: "Dark1-Medium")] */
    color: #3f3f3f;
}

div.ms-TagCloudLink a:visited {
    /* [ReplaceColor(themeColor: "Dark1-Medium")] */
    color: #3f3f3f;
}

div.ms-TagCloudLink a:hover {
    /* [ReplaceColor(themeColor: "Light1")] */
    color: #ffffff;
    /* [ReplaceColor(themeColor: "Hyperlink")] */
    background-color: #0072bc;
    text-decoration: none;
}

.ms-socialCommentEdit {
    background-color: #ffffff font-size: 8pt;
    font-family: verdana;
}

    .ms-socialCommentEdit .socialcomment-editbox {
        width: 100%;
        border: thin inset;
        overflow-y: auto;
    }

.ms-socialCommentLoading {
    text-align: right;
}

.ms-socialCommentItem {
    width: 100%;
    font-size: 8pt;
    font-family: verdana;
    font-family: Open Sans Regular !important;
}

    .ms-socialCommentItem .socialcomment-top {
        vertical-align: top;
        padding-top: 0px;
    }

    .ms-socialCommentItem .socialcomment-bottom {
        padding-bottom: 24px;
    }

    .ms-socialCommentItem .socialcomment-pagecount {
        vertical-align: top;
        padding: 0px 0px 10px;
    }

.ms-socialCommentPaging {
    width: 100%;
    font-size: 8pt;
    font-family: verdana;
    padding-bottom: 7px;
}

    .ms-socialCommentPaging .socialcomment-pagelink {
        color: #0072bc;
        text-decoration: none;
        vertical-align: top;
        padding: 3px 3px;
    }

.ms-socialCommentItem .socialcomment-image {
    vertical-align: top;
    width: 32px;
    height: 32px;
    margin-top: 1px;
    border: 0px;
}

    .ms-socialCommentItem .socialcomment-image img {
        text-align: center;
        padding: 2px;
        border: 1px solid #bfbfbf;
        padding: 0px !important;
        border-radius: 50% !important;
        border: 2px solid #4B89B2 !important;
    }

.ms-socialCommentItem .socialcomment-IMPawn {
    vertical-align: top;
    width: 12px;
    height: 12px;
    margin: 0px;
    padding: 1px 0px;
    border: 0px;
}

.ms-socialCommentItem .socialcomment-username a:link {
    color: #1d71b6;
    text-align: left;
}

.ms-socialCommentItem .socialcomment-username a:visited {
    color: #1d71b6;
    text-align: left;
}

.ms-socialCommentItem .socialcomment-username a:hover {
    text-decoration: underline;
}

.ms-socialCommentItem .socialcomment-contents {
    color: #676767;
    width: 390px;
    word-wrap: break-word;
    overflow: hidden;
}

.ms-socialCommentItem .socialcomment-contents-TRC {
    color: #676767;
    width: 505px;
    word-wrap: break-word;
    overflow: hidden;
}

.ms-socialCommentItem .commentWebpart-socialcomment-contents-TRC {
    color: #676767;
    word-wrap: break-word;
    overflow: hidden;
}

.ms-socialCommentItem .socialcomment-time {
    color: #707070;
    text-align: left;
    padding-left: 5px;
}

.ms-socialCommentItem .socialcomment-cmdlink {
    text-align: right;
}

    .ms-socialCommentItem .socialcomment-cmdlink a:link {
        color: #1d71b6;
    }

    .ms-socialCommentItem .socialcomment-cmdlink a:visited {
        color: #1d71b6;
    }

    .ms-socialCommentItem .socialcomment-cmdlink a:hover {
        text-decoration: underline;
    }

.ms-socialCommentItem .separator {
    color: #d9d9d9;
    border-width: 0px;
}

.ms-socialContextFrame {
    border-color: #f2f2f2;
    border-style: solid;
    border-width: 1px;
}

.ms-socialContextHeader {
    border-color: #f2f2f2;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    height: 20px;
    background-color: #f8f8f8;
    padding-left: 10px;
    font-size: 8pt;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
}

.ms-socialContextSearchFooter {
    border-color: #f2f2f2;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    padding: 5px;
}

.ms-socialContextSingleItem {
    padding-top: 5px;
    padding-bottom: 5px;
}

    .ms-socialContextSingleItem span {
        text-align: center;
        width: 30px;
        padding-left: 6px;
        padding-right: 6px;
    }

    .ms-socialContextSingleItem img {
        vertical-align: middle;
    }

.ms-socialThoughtHeader {
    clear: both;
    width: 100%;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
}

    .ms-socialThoughtHeader .ms-socialThoughtHeaderTitle {
        font-size: 12pt;
        color: #FD8003;
        font-weight: bold;
    }

    .ms-socialThoughtHeader img {
        vertical-align: middle;
    }

.ms-socialThoughtLeftHeader {
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    float: left;
}

.ms-socialThoughtModeLink {
    font-size: 8pt;
    padding-left: 10px;
}

.ms-socialThoughtPageLink {
    font-size: 8pt;
    float: right;
}

    .ms-socialThoughtPageLink img {
        vertical-align: middle;
        cursor: pointer;
    }

.ms-socialThoughtNavigation {
    padding: 0 5px;
    color: #8e8e90;
}

.ms-SocialThoughtContent {
    width: 100%;
    clear: both;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    margin: 5px 0 10px 0;
}

.ms-socialThoughtContentLeft {
    clear: both;
    float: left;
    word-break: break-all;
}

.ms-socialThoughtContentRight {
    text-align: right;
    float: right;
    vertical-align: middle;
    word-break: break-word;
}

.ms-socialThoughtComment {
    color: #8e8e90;
    font-style: oblique;
}

.ms-socialThoughtBoxParent {
    width: 350px;
    padding-right: 24px;
    float: left;
}

.ms-socialThoughtBoxParent2 {
    width: 557px;
    float: right;
}

.ms-socialThoughtBoxMonth {
    padding-bottom: 10px;
}

.ms-socialThoughtBoxView {
    padding-bottom: 30px;
}

.ms-socialThoughtBoxTags {
    padding-bottom: 30px;
    line-height: 1.5;
    width: 350px;
}

.ms-socialThoughtBoxTitle {
    color: #003759;
    font-size: 1.3em;
    padding-bottom: 10px;
}

.ms-socialThoughtView .viewdefault {
    color: #676767;
}

.ms-socialThoughtView .viewselect {
    color: #0072bc;
}

.ms-socialThoughtView a:hover {
    color: #0072bc;
}

.ms-socialThoughtActivitiesTitle {
    color: #003759;
    font-size: 1.3em;
}

.ms-socialThoughtActivities .month {
    display: inline-block;
    color: #003759;
    width: 124px;
    text-align: center;
    font-size: 1.3em;
}

.ms-socialThoughtActivities .tag {
    color: #0072bc;
    font-size: 1.3em;
}

.ms-socialThoughtItems .itembox {
    border-bottom: 1px dashed #BFBFBF;
    padding-top: 12px;
    padding-bottom: 12px;
}

.ms-socialThoughtItems .commentbox {
    padding: 4px 32px;
    word-wrap: break-word;
}

.ms-socialThoughtItems .viewactivities {
    padding-left: 20px;
    color: #003759;
}

.ms-socialThoughtItems .private {
    padding-left: 24px;
    color: #003759;
}

.ms-socialThoughtItems .delete {
    padding-left: 24px;
    color: #003759;
}

.ms-socialThoughtItems .selectedtag {
    color: #ffffff;
    background-color: #0072bc;
}

.ms-socialThoughtItems .loading {
    text-align: center;
    padding-top: 100px;
}

.ms-socialThoughtItems a:hover {
    color: #0072bc;
}

.ms-socialThoughtBoxTagsSort {
    padding-bottom: 10px;
}

span.ms-socialThoughtSortTitle {
    color: #000000;
}

.ms-socialThoughtTagsSort .sortselect {
    color: #0072bc;
}

.ms-socialThoughtTagsSort .sortdefault {
    color: #676767;
}

.ms-socialThoughtTagsSort a:hover {
    color: #0072bc;
}

a.ms-socialThoughtTagSelect:link {
    color: #ffffff;
    background-color: #0072bc;
}

a.ms-socialThoughtTagDefault:link {
    color: #3f3f3f;
}

.ms-socialRecommendedTags {
    border-color: #e8e8e9;
    border-style: solid;
    border-width: 1px;
    max-width: 100%;
}

.ms-socialItems {
    padding: 10px;
}

.ms-socialStandardheader {
    font-size: 10pt;
    font-family: verdana;
    padding-bottom: 10px;
    text-align: left;
    color: #202122;
}

.ms-socialTagInputBox {
    width: 100%;
    min-height: 28px;
}

.ms-socialTagPrivateCheckBox {
    font-size: 11px;
    font-family: verdana;
    text-align: left;
}

.ms-socialTagSaveButton {
    text-align: right;
}

.ms-socialCommentInputBox {
    font-family: verdana;
    font-size: 8pt;
    word-wrap: break-word;
    word-break: keep-all;
    white-space: normal;
    min-height: 16px;
    border: thin inset;
}

.ms-socialCommentInputBoxBorder {
    border-color: #b2b2b2;
    border-style: solid;
    border-width: 1px;
}

.ms-socialDataRibbonContents {
    font-size: 11px;
    font-family: verdana;
}

.ms-socialWPSeparatorTop {
    Width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px dashed #B6BABF;
}

.ms-socialWPSeparatorBottom {
    Width: 100%;
    padding-bottom: 10px;
}

.ms-socialTagInformationLabel {
    padding-top: 20px;
    padding-bottom: 3px;
    color: #000000;
}

.ms-socialTagInformationDescription {
    padding-top: 10px;
}

div.ms-taggedItemsView {
    padding-top: 10px;
    padding-bottom: 5px;
}

    div.ms-taggedItemsView span.view {
        color: #000000;
    }

    div.ms-taggedItemsView a.default {
        color: #676767;
    }

    div.ms-taggedItemsView a.select {
        color: #0072bc;
    }

    div.ms-taggedItemsView a:hover {
        color: #0072bc;
        text-decoration: underline;
    }

.ms-taggedItems .itemTbl {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    border: 0px;
    cellspacing: 0px;
    cellpadding;
    0px;
}

.ms-taggedItems .lineArea {
    height: 1.5em;
}

.ms-taggedItems td.iconArea {
    width: 42px;
}

.ms-taggedItems img.itemIcon {
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

.ms-taggedItems img.itemIconSub {
    vertical-align: middle;
    padding-right: 6px;
    width: 16px;
    height: 16px;
}

.ms-taggedItems table:hover {
    background-color: #f2f2f2;
}

.ms-taggedItems .separator {
    Width: 100%;
    border-bottom: 1px dashed #cccccc;
}

.ms-taggedItems .seeAll {
    padding-top: 10px;
}

div.ms-taggedItems a.itemTitle {
    color: #3f3f3f;
}

div.ms-taggedItems a.relTag {
    color: #0072bc;
}

    div.ms-taggedItems a.relTag:hover {
        color: #0068ac;
    }

div.ms-taggedItems a.people {
    color: #0072bc;
}

    div.ms-taggedItems a.people:hover {
        color: #0068ac;
    }

.ms-socialTagInfoPanel {
    /* [ReplaceColor(themeColor:"Accent1",themeTint:"0.10")] */ background: #F8FCFF;
    /* [ReplaceColor(themeColor:"Accent1-Lighter")] */ border: solid 1px #91CDF2;
    padding: 10px;
}

.ms-socialTagInfoTitle {
    font-size: 1.4em;
}

    .ms-socialTagInfoTitle span {
        color: #0072bc;
    }

.ms-socialTagInfoRelatedInfo {
    padding-left: 20px;
}

.ms-socialGetConnectedTermAdder {
    margin-top: 5px;
}

    .ms-socialGetConnectedTermAdder a {
        font-size: 1.3em;
        margin-left: 6px;
    }

    .ms-socialGetConnectedTermAdder span {
        font-size: 1.3em;
        margin-left: 6px;
    }

.ms-socialGetConnectedPeopleSearch {
    margin-top: 5px;
}

    .ms-socialGetConnectedPeopleSearch img {
        vertical-align: middle;
    }

    .ms-socialGetConnectedPeopleSearch a {
        margin-left: 6px;
    }

.ms-socialDialogTab {
    height: 22px;
    min-height: 22px !important;
}

    .ms-socialDialogTab ul {
        margin-left: 8px;
        margin-right: 8px;
        float: none;
    }

    .ms-socialDialogTab span {
        padding-top: 2px;
    }

#divCommentLinks li {
    display: inline;
}

#wrapper {
    white-space: nowrap;
    height:65px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
}

#comment-photo {
    float: left;
}

.circleborder {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 2px solid #4B89B2;
}

#whatsup {
    height: 30px;
    position: relative;
    margin-left: 15px;
    max-width: 320px;
    width: 100%;
    display: inline-block;
    position: relative;
}

.comment-box {
    height: auto;
    background: #fff;
    border: 1px solid #cccccc;
    position: relative;
    font-size: 12px;
    font-family: "Open sans Regular","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-weight: 400;
    border-radius: 3px;
    margin-top:10px;
}

 .comment-box:before {
        content: '';
        width: 8px;
        height: 8px;
        background: #fff;
        border-left: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;
        position: absolute;
        top: 14px;
        left: -5px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }

.comment-paragraph {
    color: #333333;
    line-height: 16px;
    margin: 10px 5px 10px 8px;
    min-height: 16px;
    white-space: pre-wrap;
}

#comment-btn {
    margin-left: 10px;
    float: right;
    display: inline-block;
    position: relative;
}

.comment-paragraph:focus {
    outline: none;
}

div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 0px;
    color: #bbbbbb;
}

.btn-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #33a6d5;
    color: #fff !important;
}

.btn-primary {
    background-color: #0090ca;
    color: #fff !important;
    font-family: "Open sans Regular","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.btn-small {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 20px;
    line-height: 2rem;
    padding: 6px 13px 8px;
    padding: 0.6rem 1.3rem 0.8rem;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    /*margin-bottom: 0;*/
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.replyWrapper{
    padding-left:5px;
}