.transparentnotes {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.ms-cui-strip
{
    border: 0px !important;
}

.ms-cur-strip .ms-cui-dd
{
    height:20px !important;
}

.ts-nav-list {
list-style-type: none;
padding-top: 10px; 
margin:0;
display: inline;
position: relative;
font-family: "Open Sans Regular";
font-size: 14px;
}

.epmliveinput
{
    padding: 2px 5px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #ABABAB;
    color: #444444;
    color: inherit;
    font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size:13px;
    vertical-align: middle;
    outline: none;
}

.epmliveinput:hover
{
    border-color:#92C0E0;
}

.epmliveinput:focus
{
border-color:#92C0E0;
}


.tsOK
{
    min-width: 4em !important;
    padding: 7px 0px !important;
    border: 1px solid #ABABAB;
    background-color: #FDFDFD;
    background-color: #FDFDFD;
    font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 11px !important;
    color: #444;
}

.tsOK:hover
{
    border-color: #92C0E0;
    background-color: #E6F2FA;
    cursor:pointer;
}

.tsOK:active
{
    border-color: #2A8DD4;
    background-color: #92C0E0;
    cursor:pointer;
}

img.TS_Comments {

    cursor: pointer;
}

/*Toolbar CSS*/

.dropdown-label {
    color: #A3A3A3;
    padding-bottom: 15px;
    padding-top: 15px;
}



.nav-btn a span {
font-size:.8em;
padding-right:10px;

}

.select2-container-multi {
width:400px !important;
}

.invite-input-img {
display:inline-block;
vertical-align: top;
}

.navbar-default {
    background-color: #fff !important;
    border-color: #fff !important;
}

.navbar-default ul {
    margin:0;
    padding:0;
    display:inline-block;    
}

.navbar-default ul li {
    display:inline;    
}

.nav-text-wrapper {
padding-top:15px;
padding-bottom:15px;
margin-left:15px;
display:inline;
}

.nopad {
padding-top:15px;
padding-bottom:0px;
}

.nav-text-wrapper .nav-select {
position:relative;
display:inline-block;
top:-4px;
}

.nav-text-wrapper .icon {
position:relative;
top:-2px;
color:#777;
}

.nav-text-wrapper .icon:first-of-type {
padding-right:1px;
}

.nav-text-wrapper .disabled{
color:#e4e4e4;
}

.nav-text-wrapper .disabled:hover{
color:#e4e4e4 !important;
cursor:auto !important;
}

.nav-text-wrapper .icon:hover {
cursor:pointer;
color:#555555;
}

.nav-text-wrapper:first-of-type {
margin-left:0px;
}

.nav-text-wrapper .nav-label {
float:left;
color:#A3A3A3;
padding-right:8px;
}

.nav-text-wrapper .text {
float:right;
}

navbar-nav {
    padding-left:0px;
}
