                    #mbox{background-color:#FFFFFF; padding:8px; border:2px outset #666;}
#mbm{font-family:sans-serif;font-weight:bold;float:right;padding-bottom:5px;}
#ol{/*background-image: url(overlay.png);*/ background-color:#ffffff;opacity:1;}
.dialog {display:none}

* html #ol{background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/_layouts/epmlive/modal/overlay.png", sizingMethod="scale");}
                  