#mbox{background-color:#FFFFFF; padding:8px;}
#mbm{font-family:sans-serif;font-weight:normal;float:right;padding-bottom:5px;}
#ol{/*background-image: url(overlay.png);*/ background-color:#ffffff;opacity:.9;}
.dialog {display:none}
* html #ol{background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/_layouts/epmlive/modal/overlay.png", sizingMethod="scale");}
                  