
.descriptioncell
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    vertical-align: top;
    border-bottom: 1px solid silver;
    padding: 5px;
    border-bottom-color: #CCCCCC;
                
}

.controlcell
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    vertical-align: top;
    border-bottom: 1px solid silver;
    padding: 5px;
    border-bottom-color: #CCCCCC;
                background-color: #F5F5F5;
                width:500px;
}

.buttoncell
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    vertical-align: top;
    border-top: 1px solid silver;
    padding: 5px;
    border-top-color: #CCCCCC;
    text-align:right;
}

.input
{
    font-family: Verdana, sans-serif;
    width:350px;
    font-size: 8pt;
}

.button
{
    font-family: Verdana, sans-serif;
    font-size: 8pt;
    width:150px;
}
