<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="msmqBinding" exactlyOnce="false">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://localhost/private/pfequeue" binding="netMsmqBinding"
          bindingConfiguration="msmqBinding" contract="ND.INotificationDispatcher"
          name="notificationdispatcher" />
    </client>
  </system.serviceModel>
</configuration>